<nb-card size="medium" class="headings-card">

    <nb-card-header>        
        <h2>
            <i class="fa fa-calendar fa-fw"></i> {{'calendar' | translate}}
            <nb-action icon="ion-chevron-right" class="toggle-layout pull-right" [routerLink]="['/calendar']"></nb-action>
        </h2>
    </nb-card-header>

    <nb-card-body>
        <iw-calendar defaultView="listMonth" showOnCard="true"
        [header]="{ left: '', center: 'title', right: '' }"
        ></iw-calendar>
    </nb-card-body>

</nb-card>