<div class="header-container">
    <div class="logo-containter">
        <a (click)="toggleSidebar()" href="#" class="navigation">
            <i class="nb-menu"></i>
        </a>
        <a [routerLink]="['/dashboard']" class="logo" title="Dashboard">
            <img src="assets/images/logo-iw-small-100.png" alt="InfoWorld">
        </a>
    </div>

    <nb-actions size="medium" *ngFor="let menuItem of topMenuItems">
        <nb-action class [routerLink]="[menuItem.link]" [routerLinkActive]="['router-link-active']" style="cursor:pointer">
            {{ menuItem.title | translate }}
        </nb-action>
    </nb-actions>

</div>

<div class="header-container">

    <div ngbRadioGroup class="btn-group btn-group-toggle btn-outline-toggle-group btn-group-full-width btn-toggle-radio-group">
        <label ngbButtonLabel [ngClass]="{'language-hover': (currentLanguage == language.title)}" class="btn btn-outline-secondary"
            *ngFor="let language of languages">
            <input ngbButton type="radio" value="left" (click)="onChangeLang(language.key)">
            {{ language.title }}
        </label>
    </div>
    
    <nb-actions size="medium" [class.right]="true" [class.left]="false">
        <nb-action *ngxPermissionsOnly="'SUPERADMIN'" icon="nb-gear" class="toggle-layout" (click)="goToAdmin()"></nb-action>        
        <nb-action>
            <nb-user [nbContextMenu]="userMenu" [name]="user?.fullName" [picture]="user?.photoLink" nbContextMenuTag="user-context-menu"
                style="cursor:pointer"></nb-user>
        </nb-action>
        <!-- <nb-action class="control-item" disabled icon="nb-notifications"></nb-action> -->
        <!-- <nb-action class="control-item" icon="nb-email"></nb-action> -->
        <!-- <nb-action class="control-item"></nb-action> -->
    </nb-actions>
</div>
