@import 'src/app/theme/styles/themes';
@import '~@nebular/theme/styles/global/breakpoints';
@include nb-install-component() {
  display: flex;
  justify-content: space-between;
  width: 100%;
  .router-link-active {
    // -webkit-box-shadow: none;
    // box-shadow: none;    
    border-radius: .5rem; // background-color: rgba(250, 145, 25, 0.382);    
    border: 2px solid #ffa100 !important;
    -webkit-box-shadow: 0 2px 12px 0 rgba(250, 145, 25, .25);
    box-shadow: 0 2px 12px 0 rgba(250, 145, 25, .25);
  }
  .left {
    display: flex;
    width: 100%;
    order: 0;
    flex-direction: row;
  }
  .right {
    order: 1;
    flex-direction: row-reverse;
  }
  .logo-containter {
    display: flex;
    align-items: center;
    width: calc(#{nb-theme(sidebar-width)} - #{nb-theme(header-padding)});
  }
  .control-item {
    display: block;
  }
  .header-container {
    display: flex;
    align-items: center;
    width: auto;
    .navigation {
      @include nb-ltr(padding-right, nb-theme(padding));
      @include nb-rtl(padding-left, nb-theme(padding));
      font-size: 2.5rem;
      text-decoration: none;
      i {
        display: block;
      }
    }
    .logo {
      padding: 0 nb-theme(padding);
      font-size: 1.75rem;
      font-weight: nb-theme(font-weight-bolder);
      @include nb-ltr(border-left, 1px solid nb-theme(separator));
      @include nb-rtl(border-right, 1px solid nb-theme(separator));
      white-space: nowrap;
      span {
        font-weight: nb-theme(font-weight-normal);
      }
    }
  }
  @include nb-for-theme(default) {
    $menu-action-separator-color: #3f4550; // nb-action {
    //   @include nb-ltr(border-left-color, $menu-action-separator-color);
    //   @include nb-rtl(border-right-color, $menu-action-separator-color);
    // }
    .header-container .logo {
      @include nb-ltr(border, none);
      @include nb-rtl(border, none);
    }
    .header-container /deep/ ngx-theme-switcher .dropdown-toggle {
      color: nb-theme(color-white);
      background: transparent;
    }
  }
  ngx-layout-direction-switcher {
    margin: 0 1.5rem;
  }
  ngx-theme-switcher {
    margin: nb-theme(layout-padding);
    margin-top: 0;
    margin-bottom: 0;
  }
  .toggle-layout /deep/ a {
    display: block;
    text-decoration: none;
    line-height: 1;
    i {
      color: nb-theme(color-fg-highlight);
      font-size: 2.25rem;
      border-radius: 50%;
      position: relative;
      animation-name: pulse-light;
      &::after {
        content: ' '; // hack to be able to set border-radius
        // background-image: url('data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7');
        border-radius: 50%;
        pointer-events: none;
        position: absolute;
        top: 52.3%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 13%;
        height: 13%;
        animation: 3s linear infinite pulse;
        @include nb-for-theme(default) {
          animation-name: pulse-light;
        }
      }
    }
  }
  @include keyframes(pulse) {
    0% {
      box-shadow: 0 0 1px 0 rgba(nb-theme(color-fg-highlight), 0);
    }
    20% {
      box-shadow: 0 0 3px 10px rgba(nb-theme(color-fg-highlight), 0.4);
    }
    100% {
      box-shadow: 0 0 5px 20px rgba(nb-theme(color-fg-highlight), 0);
    }
  }
  @include keyframes(pulse-light) {
    0% {
      box-shadow: 0 0 1px 0 rgba(115, 255, 208, 0);
    }
    20% {
      box-shadow: 0 0 3px 10px rgba(115, 255, 208, 0.4);
    }
    100% {
      box-shadow: 0 0 5px 20px rgba(115, 255, 208, 0);
    }
  }
}

*:focus {
  outline: 0px;
}

.language-hover {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}