<div class="main">
	<div class="info">
		<h3>SORRY</h3>
		<h2>4<img src="../../../assets/images/confused.gif" alt="image">4</h2>
		<p>An error Occurred in the Application And Your Page could not be Served.</p>
		
		<a href="javascript:history.back();">go back</a>
	</div>
</div>
