.main {
    background:#fff;
    width: 53%;
	margin:3em auto;
	-webkit-box-shadow: -2px 11px 32px -13px rgba(0,0,0,0.45);
	-moz-box-shadow: -2px 11px 32px -13px rgba(0,0,0,0.45);
    box-shadow: 0px 0px 50px 5px rgba(0,0,0,0.45);    
} 

.info {
    text-align: center;
    padding: 60px 0px;
}
.info h2 {
    font-size: 12em;
    color: black;
    line-height: 1;
    font-weight: 300;
    letter-spacing: 20px;
}
img{  
	padding-right: 0.1em;
}
.info h3 {
    font-size: 2.5em;
    text-transform: uppercase;
    color: #000;
    font-weight: 500;
    letter-spacing: 12px;
}
.info p {
    font-size: 1em;
    color: rgba(0, 0, 0, 0.71);
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-bottom: 3em;
    margin-top: 2em;
}
.info a {
    font-size: 1em;
    text-transform: uppercase;
    color: white;
    width: 18%;
    padding: 12px 0px;
    letter-spacing: 2px;
    display: inline-block;
    background: #962258;
    font-family: 'Ropa Sans', sans-serif;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.info a:hover {
    background: #3859a0;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-moz-transition:0.5s all;
	-ms-transition:0.5s all;
}