<div class="row scroll-panel" [nbSpinner]="loading" nbSpinnerStatus="warning" nbSpinnerSize="xlarge" nbSpinnerMessage="{{ 'loading' | translate}} ..."
    [ngStyle]="{'height':windowHeight}" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
    [scrollWindow]="false" (scrolled)="onScroll()">

    <!-- START : Search Form -->
    <div class="col-md-12">
        <nb-card class="inline-form-card">
            <nb-card-body>
                <form [formGroup]="searchForm" class="form-inline">
                    <div class="input-group full-width">
                        <label>{{ 'employees' | translate}}&nbsp;&nbsp;-&nbsp;&nbsp;<span class="text-warning employee-department-text" title="{{ currentPageName }}">{{ currentPageName }}</span></label>
                    </div>
                    <div class="input-group full-width">
                        <input nbInput fullWidth id="searchText" type="text" formControlName="searchText" fieldSize="medium"
                            class="form-control" placeholder="{{ 'Search by name' | translate }}" autocomplete="off">
                    </div>
                    <button nbButton type="submit" shape="rectangle" size="medium" status="primary" (click)="search($event)">
                        {{ 'Search' | translate }}
                    </button>
                </form>
            </nb-card-body>
        </nb-card>
    </div>

    <div *ngIf="!loading && users.length == 0" class="col-md-12">
        <nb-card class="inline-form-card" accent="danger">
            <nb-card-header>{{ 'Nu au fost gasite date' | translate }}</nb-card-header>
        </nb-card>
    </div>

    <!-- END : Search Form -->

    <div *ngFor="let user of users" class="col-xl-4 col-lg-6 col-md-6">
        <nb-card class="headings-card" accent="warning">
            <nb-card-header>
                <div class="row">
                    <div class="col-md-3">
                        <img class="card-logo-iw" src="assets/images/logo-iw-small-100.png" alt="InfoWorld">
                    </div>
                    <div class="col-md-9">
                        <div class="text-right">
                            <nb-action icon="nb-expand" style="cursor: pointer;" (click)="showDialog($event, user)"></nb-action>
                        </div>
                    </div>
                </div>
            </nb-card-header>
            <nb-card-body>
                <div class="imageUser-background-iw">
                    <a (click)="showDialog($event, user)" title="{{ user.fullName }}" class="cursor-pointer">
                        <img [src]="user.image" alt="{{ user.fullName }}" class="card-img-top user-iw">
                    </a>
                </div>
                <div class="card-body text-dark">
                    <h5 class="card-title">
                        <a (click)="showDialog($event, user)" class="cursor-pointer" title="{{ user.fullName }}">
                            {{ user.fullName }}
                        </a>
                    </h5>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <i class="fa fa-briefcase card-function-iw" title="{{ 'department' | translate }}"></i>
                        </div>
                        <div class="col-sm-9">
                            <p *ngIf="user.departmentsNameList" class="card-text-iw">{{ user.departmentsNameList }}</p>
                            <p *ngIf="!user.departmentsNameList" class="card-text-iw">No department.</p>
                        </div>
                        <div class="col-sm-3">
                            <i class="fas fa-people-carry card-team-iw" title="{{ 'teams' | translate }}"></i>
                        </div>
                        <div class="col-sm-9">
                            <p *ngIf="user.teamsNameList" class="card-text-iw">{{ user.teamsNameList }}</p>
                            <p *ngIf="!user.teamsNameList" class="card-text-iw">No team.</p>
                        </div>
                        <div class="col-sm-3">
                            <i class="fas fa-envelope card-email-iw" title="{{ 'email' | translate }}"></i>
                        </div>
                        <div class="col-sm-9">
                            <p class="card-text-iw">{{ user.email }}</p>
                        </div>
                    </div>
                </div>
            </nb-card-body>
            <nb-card-footer>
                <p class="card-text">
                    <small *ngIf="user.location" class="text-muted"><i class="fas fa-map-marker-alt"></i> <cite title="Locatia">{{
                            user.location }}</cite>
                    </small>
                    <small *ngIf="!user.location" class="text-muted"><i class="fas fa-map-marker-alt"></i> <cite title="Locatia">Unknown</cite>
                    </small>
                    <small *ngIf="user.pager" class="text-muted card-pager-iw"><i class="fa fa-building"></i> <cite
                            title="Interior">{{user.pager}}</cite>
                    </small>
                    <small *ngIf="!user.pager" class="text-muted card-pager-iw"><i class="fa fa-building"></i> <cite
                            title="Interior">Unknown</cite>
                    </small>
                </p>
            </nb-card-footer>
        </nb-card>
    </div>
</div>
