@import '../../../theme/styles/themes';
@include nb-install-component() {
  .full-width {
    flex: 1;
    min-width: 220px;
  }
  .form-inline>* {
    @include nb-ltr(margin, 0 1.5rem 1.5rem 0);
    @include nb-rtl(margin, 0 0 1.5rem 1.5rem);
  }
  nb-card.inline-form-card nb-card-body {
    padding-bottom: 0;
  }
}

.scroll-panel {
  overflow-y: scroll;
}

.fa-button {
  font-size: 2rem;
  float: left;
  margin-right: 10px;
  padding: 0.2rem;
  color: white;
  background-color: rgba(5, 3, 94, 0.726);
  vertical-align: middle;
  border-radius: 50%;
}

.property-module {
  padding-left: 10px;
  display: block;
  word-wrap: initial;
  overflow: hidden;
  text-overflow: ellipsis;
}

.property-name {
  font-size: 0.8em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: black;
}

.property-value {
  font-size: 0.9em;
  line-height: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgba(42, 13, 207, 0.911);
}

.headings-card nb-card-header{
  padding: 0.75rem 1.25rem;
}


.card-logo-iw {
  width: 100%;
}

.imageUser-background-iw {
  background-image: url(../../../../assets/images/background-card-trianglify.png);
  width: 100%;
  vertical-align: middle;
  text-align: center;
  a {
    width: 160px;
    height: 160px;
    display: inline-flex;
    margin: 0 auto;
    vertical-align: middle;
  }
  .user-iw {
    object-fit:contain;
    max-height: 100%;
    max-width: 100%;    
  }
}

.card-email-iw {
  font-size: 20px;
  float: right;
  padding-top: 2px;
  padding-right: 2px;
}

.card-function-iw {
  font-size: 20px;
  float: right;
  padding-top: 2px;
  padding-right: 2px;
}

.card-team-iw {
  font-size: 20px;
  float: right;
  padding-top: 5px;
}

.card-text-iw {
  padding-top: 2px;
  word-break: break-all;
}

.card-pager-iw {
  float: right;
}

.card-teamText-iw {
  padding-left: 0px !important;
  padding-top: 5px;
  margin-bottom: 0px !important;
}

.text-warning.employee-department-text {
  width: 350px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cursor-pointer {
    cursor: pointer;
}
