<div *ngIf="mode===modeDelete">
    <div class="modal-header">
        <h3>{{ 'delete' | translate }}</h3>
        <button class="close" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <nb-card class="headings-card">
            <nb-card-body size="medium">
                <h5>{{ 'deleteProjectCategoryInterogation' | translate }}</h5>
                <h3>{{ projectCategory?.name }}</h3>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="modal-footer">
        <button nbButton type="submit" shape="rectangle" size="medium" status="danger" (click)="delete($event)">
            {{ 'delete' | translate }}
        </button>
        <button nbButton type="button" shape="rectangle" size="medium" status="info" outline (click)="closeModal()">
            {{ 'cancel' | translate }}
        </button>
    </div>
</div>

<div *ngIf="mode!==modeDelete">
    <form [formGroup]="form" autocomplete="off" novalidate>
        <div class="modal-header">            
            <h3>{{ (isUpdate ? 'edit' : 'add') | translate }}</h3>
            <button class="close" aria-label="Close" (click)="closeModal()">
                <span aria-hidden="true">×</span>
            </button>
        </div>

        <div class="modal-body">
            <nb-card size="x-small" class="headings-card">
                <nb-card-body>
                    <input type="hidden" name="id" formControlName="id" autocomplete="off">
                    <div class="form-content">
                        <div class="form-group">
                            <!-- input-group-lg -->
                            <label for="projectCategoryName">{{ 'projectCategoryName' | translate }}</label>
                            <input id="projectCategoryName" type="text" name="name" formControlName="name" class="form-control"
                                required placeholder="{{ 'projectInputCategoryName' | translate }}" [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
                                pattern="^(?! )[A-Za-zâ-țÂ-Ț0-9!-´ ]*(\S)$" autocomplete="off" maxlength="150">
                            <div *ngIf="submitted && f.name.errors" class="error-feedback">
                                <div *ngIf="f.name.errors.required">{{ 'requiredProjectCategoryName' | translate }}</div>
                                <div *ngIf="f.name.errors.pattern">{{ 'whiteSpaceWarning' | translate }}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <!-- input-group-lg -->
                            <label for="projectCategoryDescription">{{ 'projectCategoryDescription' | translate }}</label>
                            <textarea nbInput fullWidth id="projectCategoryDescription" formControlName="description"
                                class="form-control" shape="rectangle" pattern="^(?! )[A-Za-zâ-țÂ-Ț0-9!-´ ]*(\S)$" fieldSize="medium"
                                placeholder="{{ 'projectInputCategoryDescription' | translate }}" autocomplete="off"
                                maxlength="4000">
              {{projectCategory?.description}}
            </textarea>
                            <div *ngIf="submitted && f.description.errors" class="error-feedback">
                                <div *ngIf="f.description.errors.required">{{ 'requiredProjectCategoryDescription' |
                                    translate }}</div>
                                <div *ngIf="f.description.errors.pattern">{{ 'whiteSpaceWarning' | translate }}</div>
                            </div>
                        </div>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
        <div class="modal-footer">
            <div class="form-row col-12">
                <div class="col-6 text-left">
                    <nb-checkbox formControlName="enabled" status="success" [value]="projectCategory.enabled">
                        <p>{{'enabled' | translate}}</p>
                    </nb-checkbox>
                </div>
                <div class="col-6 text-right">
                    <button nbButton type="submit" shape="rectangle" size="medium" status="primary" (click)="saveForm($event)"
                        class="margin-right-10">
                        {{'save' | translate}}
                    </button>
                    <button nbButton type="button" shape="rectangle" size="medium" status="info" outline (click)="closeModal()">
                        {{'cancel' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
