<form [formGroup]="form" autocomplete="off" novalidate>
    <input type="hidden" name="id" formControlName="id" autocomplete="off">
    <div class="modal-header">
        <h3>New description</h3>
        <button class="close" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <p-editor [(ngModel)]="user.description" formControlName="description" [style]="{'height':'250px'}"></p-editor>
        <div *ngIf="submitted && f.description.errors" class="error-feedback">
            <div *ngIf="f.description.errors.required">{{ 'requiredText' | translate }}</div>
            <div *ngIf="f.description.errors.maxlength">
                {{ 'longTextWarning' | translate }} Max: {{ f.description.errors.maxlength.requiredLength }}
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button nbButton type="submit" shape="rectangle" size="medium" status="primary" (click)="saveForm($event)"
            class="margin-right-10">
            {{ 'save' | translate }}
        </button>
        <button nbButton type="button" shape="rectangle" size="medium" status="info" outline (click)="closeModal()">
            {{ 'close' | translate }}
        </button>
    </div>
</form>
