.user-details-iw {
  width: 100%;
  height: 170px;
}

.card-email-iw {
  font-size: 20px;
  // float: right;
  padding-top: 2px;
}

.card-function-iw {
  font-size: 20px;
  // float: right;
  padding-top: 2px;
}

.card-text-iw {
  padding-top: 2px;
}

.card-teamText-iw {
  padding-left: 0px !important;
  // padding-top: 5px;
  margin-bottom: 0px !important;
}

nb-card-body {
  padding: 0px !important;
}

.error-feedback {
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}