@import '../../../../../theme/styles/themes';
// @import '~@nebular/theme/styles/hero-buttons';
@include nb-install-component() {
  nb-tabset {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  nb-tab {
    flex: 1;
    overflow-y: auto;
    padding: 0;
  }
  .contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: nb-theme(color-fg);
    padding: 0.8rem;
    &:not(:last-child) {
      border-bottom: 1px solid nb-theme(separator);
      @include nb-for-theme(corporate) {
        border-bottom-color: nb-theme(tabs-separator);
      }
    }
  }
  .i-contact {
    font-size: 2rem;
    cursor: pointer;
  }
  .time {
    font-size: 0.875rem;
    font-weight: nb-theme(font-weight-light);
    text-transform: uppercase;
    width: 8em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  nb-user /deep/ {
    .info-container {
      @include nb-ltr(margin-left, 0.875rem);
      @include nb-rtl(margin-right, 0.875rem);
    }
    .user-name {
      font-family: nb-theme(font-secondary);
      font-weight: nb-theme(font-weight-bold);
      color: nb-theme(color-fg-heading);
      font-size: 1.25rem;
      width: 13em;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      @include nb-for-theme(cosmic) {
        font-weight: nb-theme(font-weight-bolder);
      }
    }
    .user-title {
      font-size: 0.875rem;
      font-weight: nb-theme(font-weight-light);
      text-transform: uppercase;
      width: 20em;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.contact-hover:hover {
  // color: orange;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}