<nb-card
  size="medium"
  class="headings-card"
  [nbSpinner]="loading"
  nbSpinnerStatus="warning"
  nbSpinnerSize="xlarge"
  nbSpinnerMessage>
  <nb-card-header>
    <h2><i class="fa fa-phone fa-fw"></i>{{ 'contacts' | translate }}</h2>
  </nb-card-header>
  <nb-card-body>
    <div
      class="contact"
      *ngFor="let contact of contacts"
      [ngClass]="{'contact-hover': contact.user}"
      (click)="showContactDetails(contact)">
      <!-- [picture]="contact.imageBytes" -->
      <nb-user
        [name]="contact?.title"
        [title]="contact?.location"
        size="large">
      </nb-user>
      <span class="time">{{ contact?.description }}</span>
    </div>
  </nb-card-body>
</nb-card>
