<div class="row scroll-panel" [nbSpinner]="loading" nbSpinnerStatus="warning" nbSpinnerSize="xlarge" nbSpinnerMessage="{{ 'loading' | translate}} ..."
    [ngStyle]="{'height':windowHeight}" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
    [scrollWindow]="false" (scrolled)="onScroll()">

    <!-- START : Search Form -->
    <div class="col-md-12">
        <nb-card class="inline-form-card">
            <nb-card-body>
                <form [formGroup]="searchForm" class="form-inline">
                    <div class="input-group full-width">
                        <label>{{ 'projects' | translate}}&nbsp;&nbsp;-&nbsp;&nbsp;<span class="text-warning project-category-text" title="{{ currentPageName }}">{{ currentPageName }}</span></label>
                    </div>
                    <div class="input-group full-width">
                        <input nbInput fullWidth id="searchText" type="text" formControlName="searchText" fieldSize="medium"
                            class="form-control" placeholder="{{ 'Search by name' | translate }}" autocomplete="off">
                    </div>
                    <button nbButton type="submit" shape="rectangle" size="medium" status="primary" (click)="search($event)">
                        {{ 'Search' | translate }}
                    </button>
                </form>
            </nb-card-body>
        </nb-card>
    </div>

    <div *ngIf="!loading && projects.length == 0" class="col-md-12">
        <nb-card class="inline-form-card" accent="danger">
            <nb-card-header>
                {{ 'Nu au fost gasite date' | translate }}
            </nb-card-header>
        </nb-card>
    </div>

    <!-- END : Search Form -->

    <div *ngFor="let project of projects" class="col-xl-4 col-lg-6 col-md-6">
        <nb-card size="small" class="headings-card" accent="info">
            <nb-card-header>
                <div class="row">
                    <div class="col-md-3">
                        <img class="card-logo-iw" src="assets/images/logo-iw-small-100.png" alt="InfoWorld">
                    </div>
                    <div class="col-md-9">
                        <div class="text-right">
                            <nb-action icon="nb-expand" (click)="showProjectDetails(project, $event)"></nb-action>
                        </div>
                    </div>
                </div>
            </nb-card-header>
            <nb-card-body>
                <div class="row">
                    <div class="col-md-9">
                        <h5 class="project-title-text">{{ project.title }}</h5>
                        <hr>
                        <blockquote class="blockquote">
                            <p class="project-details-text" *ngIf="project.detailsLimited" [innerHTML]="project.detailsLimited | safeHtml"></p>
                            <p class="project-details-text" *ngIf="!project.details">No details.</p>
                        </blockquote>
                    </div>
                    <div class="col-md-3">
                        <img [src]="project.image" alt class="user-iw">
                    </div>
                </div>
            </nb-card-body>
            <nb-card-footer>
                <p class="card-text">
                    <small class="text-muted"><cite title="Star date">
                            Start date: {{ project.startDate | date: 'longDate' }}
                        </cite>
                    </small>
                </p>
            </nb-card-footer>
        </nb-card>
    </div>
</div>
