@import '../../../theme/styles/themes';
@include nb-install-component() {
  .full-width {
    flex: 1;
    min-width: 220px;
  }
  .form-inline>* {
    @include nb-ltr(margin, 0 1.5rem 1.5rem 0);
    @include nb-rtl(margin, 0 0 1.5rem 1.5rem);
  }
  nb-card.inline-form-card nb-card-body {
    padding-bottom: 0;
  }
}

.scroll-panel {
  overflow-y: scroll;
}

.header {
  padding-right: 10px;
  padding-left: 10px;
  position: relative;
}

.card-header {
  padding-right: 10px;
  padding-left: 10px;
  height: 250px;
}

.card-title {
  padding-left: 8px;
  line-height: 35px;
  font-size: 1.5em;
  vertical-align: middle;
  padding-left: 0px;
  width: 5cm;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.img-thumbnail {
  max-height: 105px;
}

.header-title {
  margin-top: 25px;
}

.col-6-logo {
  text-align: right;
  padding-right: 0px;
}

.col-6-detalii {
  padding-left: 0px;
}

.col-6-echipa {
  text-align: right;
  padding-right: 0px;
}

.col-6-departament {
  padding-left: 0px;
}

.fa-fa-color {
  width: 55px;
  height: 38px;
  line-height: 35px;
  margin-left: -10px;
  vertical-align: middle;
  font-size: 0.5cm;
  color: rgb(134, 127, 207);
}

.card-color {
  border-color: rgb(134, 127, 230);
}

.property {
  padding-left: 10px;
}

.property-color {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: orange;
}

.property-color-btnSelected {
  white-space: unset !important;
  overflow: unset !important;
  text-overflow: unset !important;
  color: orange;
}

.hr {
  margin-bottom: 1rem;
  margin-top: 0rem;
}

.button {
  background-color: whitesmoke;
  border: 0;
}

.headings-card nb-card-header{
  padding: 0.75rem 1.25rem;
}

.card-logo-iw {
  width: 100%;
}

.user-iw {
  width: 100%
}

.blockquote {
  border-left: 0.25rem solid #4ca6ff !important;
}

.text-warning.project-category-text {
  width: 350px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.project-details-text {
  padding-left: 3%;
  word-break: break-word;
  word-wrap: break-word;
}

.project-title-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}