<div *ngIf="mode===modeDelete">
    <div class="modal-header">
        <h3>{{ 'delete' | translate }}</h3>
        <button class="close" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <nb-card class="headings-card">
            <nb-card-body size="medium">                
                <h5>{{ 'deleteDocumentInterogation' | translate }}</h5>
                <h3>{{ document?.title }}</h3>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="modal-footer">
        <button nbButton type="submit" shape="rectangle" size="medium" status="danger" (click)="delete($event)">
            {{ 'delete' | translate }}
        </button>
        <button nbButton type="button" shape="rectangle" size="medium" status="info" outline (click)="closeModal()">
            {{ 'cancel' | translate }}
        </button>
    </div>
</div>

<div *ngIf="mode!==modeDelete">
    <form [formGroup]="form" autocomplete="off" novalidate>
        <div class="modal-header">            
            <h3>{{ (isUpdate ? 'edit' : 'add') | translate }}</h3>
            <button class="close" aria-label="Close" (click)="closeModal()">
                <span aria-hidden="true">×</span>
            </button>
        </div>

        <div class="modal-body">

            <nb-card size="medium" class="headings-card">
                <nb-card-body>

                    <input type="hidden" name="id" formControlName="id" autocomplete="off">
                    <div class="form-content">
                        <div class="form-group">
                            <!-- input-group-lg -->
                            <label for="title">{{ 'name' | translate }}</label>
                            <input id="title" type="text" name="title" formControlName="title" class="form-control"
                                required pattern="^(?! )[A-Za-zâ-țÂ-Ț0-9!-´ ]*(\S)$" maxlength="150" placeholder="{{ 'name' | translate }}"
                                [ngClass]="{ 'is-invalid': submitted && f.title.errors }" autocomplete="off">
                            <div *ngIf="submitted && f.title.errors" class="error-feedback">
                                <div *ngIf="f.title.errors.required">{{ 'requiredDocument' | translate }}</div>
                                <div *ngIf="f.title.errors.minlength">{{ 'requiredLongText' | translate }}</div>
                                <div *ngIf="f.title.errors.pattern">{{ 'whiteSpaceWarning' | translate }}</div>
                            </div>
                        </div>

                        <div class="form-group form-row ui-fluid">
                            <div class="col-sm-6">
                                <label for="documentSubCategoryName">{{ 'documentSubcategory' | translate }}</label>
                                <ng-select #documentSubCategorySelect [items]="documentSubCategories" formControlName="documentSubCategoryId"
                                    bindValue="id" bindLabel="name" placeholder="{{ 'documentSelect' | translate }}"
                                    clearAllText="{{ 'clear' | translate }}" appendTo="body" [multiple]="false"
                                    [searchable]="true" [closeOnSelect]="true" [(ngModel)]="selectedDocumentSubCategoryId"
                                    [hideSelected]="true">
                                </ng-select>
                                <div *ngIf="submitted && f.documentSubCategoryId.errors" class="error-feedback">
                                    <div *ngIf="submitted && f.documentSubCategoryId.errors.required">
                                        {{ 'requiredDocumentSubcategory' | translate }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 text-left">
                                <label for="date">{{ 'date' | translate }}</label>
                                <p-calendar inputId="date" formControlName="date" dateFormat="dd.mm.yy" showButtonBar="true"
                                    [showIcon]="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030">
                                </p-calendar>
                            </div>
                        </div>

                        <iw-file-upload [allowedExtensions]="['application/pdf','text/plain','application/vnd.openxmlformats-officedocument.spreadsheetml.sheet', 'application/vnd.openxmlformats-officedocument.wordprocessingml.document', 'application/msword', 'application/vnd.ms-excel', 'image/jpeg']"
                            ownerType="document" [fileInfo]="fileUploads" (onFileUploadComplete)="fileUploadCompleted($event)">
                        </iw-file-upload>

                    </div>
                </nb-card-body>
            </nb-card>

        </div>

        <div class="modal-footer">
            <div class="form-row col-12">
                <div class="col-6 text-left">
                    <nb-checkbox formControlName="enabled" status="success" [value]="document.enabled">
                        <p>{{ 'enabled' | translate }}</p>
                    </nb-checkbox>
                    <nb-checkbox formControlName="showInDashboard" status="success" [value]="document.showInDashboard">
                        <p>{{ 'showInDashboard' | translate }}</p>
                    </nb-checkbox>
                </div>

                <div class="col-6 text-right">
                    <button nbButton type="submit" shape="rectangle" size="medium" status="primary" (click)="saveForm($event)"
                        class="margin-right-10">
                        {{ 'save' | translate }}
                    </button>
                    <button nbButton type="button" shape="rectangle" size="medium" status="info" outline (click)="closeModal()">
                        {{ 'cancel' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
