.drop-zone {
  border: dotted 3px lightgray;
  height: 100px;
  text-align: center;
  background-color: bisque;
  vertical-align: middle;
  line-height: 100px;
  font-size: 1.4rem; // padding: 6px 12px;    
}

.nv-file-over {
  border: dotted 3px green;
}

/* Default class applied to drop zones on over */

.margin-right-10 {
  margin-right: 10px;
}

.error-feedback {
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}

::ng-deep ng-select.ng-invalid.ng-touched .ng-select-container {
  border-color: #dc3545;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px #fde6e8;
}