<nb-card size="medium" class="headings-card" [nbSpinner]="loading" nbSpinnerStatus="warning" nbSpinnerSize="xlarge" nbSpinnerMessage="">

    <nb-card-header>
        <h2>
            <i class="fa fa-rss fa-fw"></i> {{'newsletter' | translate}}
            <nb-action icon="ion-chevron-right" class="toggle-layout pull-right" [routerLink]="['/newsletters']"></nb-action>
        </h2>
    </nb-card-header>

    <nb-card-body>

        <a (click)="previewNewsletter(newsletter)" title="{{newsletter?.title}}">
            <pdf-viewer 
                [src]="fileData" 
                [render-text]="false" 
                [external-link-target]="'blank'" 
                [original-size]="false"
                [autoresize]="true" 
                [fit-to-page]="true" 
                [zoom]="0.4" 
                [show-all]="false" 
                [page]="1" 
                style="display: block; margin: 1em;">
            </pdf-viewer>
        </a>

        <div class="details">
            <div class="title">
                    {{newsletter?.title}}
            </div>
        </div>

    </nb-card-body>

</nb-card>
