<div class="row">
    <div *ngFor="let newsletter of newsletters" class="col-xxxl-3 col-xxl-3 col-lg-3 col-md-6">
        
        <nb-card size="medium" class="headings-card" [nbSpinner]="newsletter?.loading" nbSpinnerStatus="warning" nbSpinnerSize="xlarge" nbSpinnerMessage="">

            <nb-card-header>
                <h3 class="dots-newsletter-title">{{newsletter.title}}</h3>
            </nb-card-header>

            <nb-card-body>                    

                <a (click)="previewNewsletter(newsletter)" title="{{newsletter.title}}">
                    <pdf-viewer [src]="newsletter.url" 
                        [render-text]="false" 
                        [external-link-target]="'blank'"
                        [original-size]="false" 
                        [autoresize]="true" 
                        [fit-to-page]="true" 
                        [zoom]="0.7" 
                        [show-all]="false"
                        [page]="1" 
                        style="display: block; margin: 1em;">
                    </pdf-viewer>
                </a>


            </nb-card-body>

        </nb-card>

    </div>
</div>
