::ng-deep .cdk-overlay-container {
  z-index: 1080 !important;
}

:host /deep/ ng2-smart-table tbody tr td div {
  white-space: nowrap;
  max-width: 42em;
  overflow: hidden;
  text-overflow: ellipsis;
}

// .large-spinner.warning-spinner.ng-star-inserted{

// }

:host /deep/ nb-spinner.large-spinner {
  z-index: 0;
}