::ng-deep .nb-theme-default nb-menu a {
  cursor: pointer;
}

::ng-deep .nb-theme-default .menu-sidebar .scrollable {
  padding: 0 1.5rem 0 1rem;
}

::ng-deep .menu-item a .menu-title {
  // width: 350px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// ::ng-deep .nb-theme-default nb-menu .menu-item a.active {
//     background-color: #ffa100;
//     color: #fff;    
// }
// ::ng-deep .nb-theme-default nb-menu .menu-item a.active .menu-icon {
//     color: #fff;    
// }