<div *ngIf="mode===modeDelete">
    <div class="modal-header">
        <h3>{{ 'delete' | translate }}</h3>
        <button class="close" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <nb-card class="headings-card">
            <nb-card-body size="medium">
                <h5>Vrei sa stergi acest User ?</h5>
                <h3>{{ user?.fullName }}</h3>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="modal-footer">
        <button nbButton type="submit" shape="rectangle" size="medium" status="danger" (click)="delete($event)">
            {{ 'delete' | translate }}
        </button>
        <button nbButton type="button" shape="rectangle" size="medium" status="info" outline (click)="closeModal()">
            {{ 'cancel' | translate }}
        </button>
    </div>
</div>

<div *ngIf="mode!==modeDelete">
    <form [formGroup]="form" autocomplete="off" novalidate>
        <div class="modal-header">            
            <h3>{{ (isUpdate ? 'edit' : 'add') | translate }}</h3>
            <button class="close" aria-label="Close" (click)="closeModal()">
                <span aria-hidden="true">×</span>
            </button>
        </div>

        <div class="modal-body">
            <div [nbSpinner]="loading" nbSpinnerStatus="warning" nbSpinnerSize="xlarge" nbSpinnerMessage="{{ 'loading' | translate}} ..."
                style="height:90%">
                <nb-card size="x-small" class="headings-card">
                    <nb-card-body>

                        <input type="hidden" name="id" formControlName="id" autocomplete="off">
                        <div class="form-content">

                            <div class="form-group form-row">
                                <div class="col-sm-6">
                                    <label for="fullName">{{ 'name' | translate }}</label>
                                    <h4 id="fullName">{{ user.fullName }}</h4>
                                </div>
                                <div class="col-sm-6 text-right">
                                    <label for="location">{{ 'location' | translate }}</label>
                                    <h4 id="location">{{ user.location }}</h4>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="functionName">{{ 'function' | translate }}</label>
                                <ng-select #functionSelect [items]="functions" formControlName="functionId" bindValue="id"
                                    bindLabel="name" placeholder="{{ 'selectFunction' | translate }}" clearAllText="{{ 'clear' | translate }}"
                                    [multiple]="false" [searchable]="true" [closeOnSelect]="true" [(ngModel)]="selectedFunctionId">
                                </ng-select>
                            </div>

                            <div class="form-group">
                                <label for="jobName">{{ 'jobType' | translate }}</label>
                                <ng-select #jobTypeSelect [items]="jobTypes" formControlName="jobId" bindValue="id"
                                    bindLabel="name" placeholder="{{ 'jobTypeSelect' | translate }}" clearAllText="{{ 'clear' | translate }}"
                                    [multiple]="false" [searchable]="true" [closeOnSelect]="true" [(ngModel)]="selectedJobTypeId">
                                </ng-select>
                            </div>

                            <div class="form-group">
                                <label for="teamName">{{ 'team' | translate }}</label>
                                <ng-select #teamSelect [items]="teams" formControlName="teamsId" bindValue="id"
                                    bindLabel="name" placeholder="{{ 'teamSelect' | translate }}" clearAllText="{{ 'clear' | translate }}"
                                    appendTo="body" [multiple]="true" [searchable]="true" [closeOnSelect]="false"
                                    [(ngModel)]="selectedTeamsId" [hideSelected]="true">
                                </ng-select>
                            </div>

                            <iw-file-upload [allowedExtensions]="['image/jpeg','image/png','image/gif']" ownerType="user"
                                [fileInfo]="fileUploads" (onFileUploadComplete)="fileUploadCompleted($event)">
                            </iw-file-upload>
                            <!-- <small class="form-text">{{ 'imageWarning' | translate }}</small> -->

                        </div>

                    </nb-card-body>
                </nb-card>
            </div>
        </div>

        <div class="modal-footer">
            <button nbButton type="submit" shape="rectangle" size="medium" status="primary" (click)="saveForm($event)">
                {{ 'save' | translate }}
            </button>
            <button nbButton type="button" shape="rectangle" size="medium" status="info" outline (click)="closeModal()">
                {{ 'cancel' | translate }}
            </button>
        </div>
    </form>
</div>
