<nb-card size="medium" class="headings-card" [nbSpinner]="loading" nbSpinnerStatus="warning" nbSpinnerSize="xlarge"
    nbSpinnerMessage="">

    <nb-card-header>
        <h2>
            <i class="fa fa-comments fa-fw"></i> {{ 'announcementsAndNews' | translate}}
            <nb-action icon="ion-chevron-right" class="toggle-layout pull-right" [routerLink]="['/news']"></nb-action>
        </h2>
    </nb-card-header>

    <nb-card-body>
        <div *ngIf="dasboardNews">
            <div *ngFor="let news of dasboardNews" class="header">
                <div>
                    <h5>
                        <a (click)="showNotificationDetails(news)" class="dots" title="{{ news.title }}">
                            {{ news.title }}
                        </a>
                    </h5>
                </div>
                <div class="detail font-w-light">
                    {{ news.updatedAt | date: 'd.M.yy' }}
                </div>
            </div>
        </div>
        <div *ngIf="dasboardNews.length == 0">
            <div class="header">
                <div>
                    <h5>
                        <a>No Notifications</a>
                    </h5>
                </div>
            </div>
        </div>
    </nb-card-body>
</nb-card>
