<div
  class="form-group form-row"
  [nbSpinner]="loading"
  nbSpinnerStatus="warning"
  nbSpinnerSize="xlarge"
  nbSpinnerMessage>

  <div class="col-sm-4">
    <!-- <label for="fileUploadInputId">{{'uploadFile' | translate}}</label> -->
    <ng2-file-input
      [id]="fileUploadInputId"
      [drop-text]="dropText"
      [browse-text]="browseText"
      [remove-text]="removeText"
      [invalid-file-text]="invalidFileText"
      [multiple]="multiple"
      [show-previews]="showPreviews"
      [removable]="removable"
      [extensions]="allowedExtensions"
      (onAction)="onAction($event)"
      (onAdded)="onAdded($event)"
      (onRemoved)="onRemoved($event)"
      (onCouldNotRemove)="onCouldNotRemove($event)"
      (onInvalidDenied)="onInvalidDenied($event)">
    </ng2-file-input>
    <span *ngIf="saveFileError">
      <nb-alert
        status="danger"
        closable>
        {{ saveFileError }}
      </nb-alert>
    </span>
  </div>

  <div class="col-sm-8">
    <div
      *ngIf="fileInfo === null && newFile === false"
      class="row">
      <div class="col-sm-1">
        <i class="far fa-file-alt file-style"></i>
      </div>
      <div class="col-sm-11">
        <div class="file-name-text">No file uploaded.</div>
        <div class="file-name-text-secondary">0 Kb</div>
      </div>
    </div>

    <div
      *ngIf="fileInfo != null && newFile === false"
      class="row">
      <div class="col-sm-1">
        <i class="far fa-file-alt file-style"></i>
      </div>
      <div class="col-sm-11">
        <div class="file-name-text">{{ fileInfo.downloadName }}</div>
        <div class="file-name-text-secondary">
          {{ (fileInfo.length / 1024) | number }} Kb
        </div>
      </div>
    </div>

    <div
      *ngIf="newFile"
      class="row">
      <div class="col-sm-1">
        <i class="far fa-file-alt file-style"></i>
      </div>
      <div class="col-sm-11">
        <div class="file-name-text">{{ name }}</div>
        <div class="file-name-text-secondary">{{ (size/ 1024 ) | number }} Kb</div>
      </div>
    </div>

    <!-- <span
      style="font-weight:bold;color:green;"
      *ngIf="fileUploadProgress > 0 && fileUploadProgress < 100">{{fileUploadProgress}}%
  </span> -->
  </div>

</div>
