::ng-deep .ng2-file-input .ng2-file-input-drop-container {
  min-height: 200px;
  border: 2px dashed #a4abb3;
  padding: 88px 5px 0px 38px;
  width: 200px;
  display: inline-block;
  background-color: #e9edf2;
}

::ng-deep .ng2-file-input .ng2-file-input-files {
  margin-top: 0;
  width: 200px;
  display: inline-block;
  margin-left: 15px;
}

::ng-deep .ng2-file-input .ng2-file-input-drop-container button {
  // position: absolute;
  // top: 202px;
  // left: 44px;
}

::ng-deep .ng2-file-input-invalid.text-danger {
  font-weight: bold;
}

::ng-deep .ng2-file-input .ng2-file-input-files .ng2-file-input-file .ng2-file-input-file-text {
  max-width: 190px;
  height: 110px;
  font-size: 14px;
}

.file-style {
  font-size: 36px;
}

.file-name-text {
  font-size: 15px;
  font-weight: bold;
}