<nb-card size="medium" class="headings-card" [nbSpinner]="loading" nbSpinnerStatus="warning" nbSpinnerSize="xlarge"
    nbSpinnerMessage="">

    <nb-card-header>
        <h2>
            <i class="fa fa-folder-open fa-fw"></i> {{ 'generalUseDocuments' | translate}}
            <nb-action icon="ion-chevron-right" class="toggle-layout pull-right" [routerLink]="['/documents']"></nb-action>
        </h2>
    </nb-card-header>

    <nb-card-body>
        <div *ngIf="documentsDashboard">
            <div *ngFor="let document of documentsDashboard" class="header">
                <div>
                    <h5>
                        <a class="dots" title="{{ document.title }}" (click)="downloadFile(document)">
                            {{ document.title }}
                        </a>
                    </h5>
                </div>
                <div class="detail font-w-light">
                    {{ document.updatedAt | date: 'd.M.yy' }}
                </div>
            </div>
        </div>
        <div *ngIf="documentsDashboard.length == 0">
            <div class="header">
                <div>
                    <h5>
                        <a class="dots" title="No Documents Enabled">
                            No Documents Enabled
                        </a>
                    </h5>
                </div>
            </div>
        </div>
    </nb-card-body>
</nb-card>