@import '../../../../../theme/styles/themes';
@include nb-install-component() {

  nb-card-body {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  nb-card-header .pull-right {
    float: right;
  }
  
  .font-secondary .font-header .name {
    font-size: 4.5rem;
    line-height: 4rem;
    font-weight: nb-theme(font-weight-bold);
  }
  .font-main .font-header .name {
    font-size: 3rem;
    font-weight: nb-theme(font-weight-bold);
  }
  .font-row {
    &:first-child {
      margin-bottom: 2rem;
    }
    .header {
      align-items: baseline;
    }
    p {
      margin: 0;
    }
  }
  .headings-card {
    nb-card-body {
      padding: 1rem 1.25rem;
    }
    .header {
      padding-bottom: 0.675rem;
      margin-bottom: 0.675rem;
      &:last-child {
        padding-bottom: 0;
        margin-bottom: 0;
      }
    }
  }
  .header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid nb-theme(separator);
    color: nb-theme(color-fg-heading);
    &:last-child {
      border-bottom: none;
      padding: 0;
      margin: 0;
    }
    div:first-child {
      flex: 2;
      -ms-flex: 2 1 auto;
      line-height: 1;
      align-items: flex-end;
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin-bottom: 0;
      }
    }
    .variants {
      flex: 1;
      -ms-flex: 1 1 auto;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      span {
        padding-right: 1rem;
        padding-left: 1rem;
        font-size: 1.5rem;
      }
    }
    .detail {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      color: nb-theme(color-fg);
    }
  }
  .colors {
    display: flex;
    flex-direction: column;
    .item {
      display: flex;
      align-items: center;
      margin-bottom: 1.25rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .color {
      width: 86px;
      height: 60px;
      border-top-right-radius: 1rem;
      border-bottom-left-radius: 1rem;
      @include nb-ltr(margin-right, 1rem);
      @include nb-rtl(margin-left, 1rem);
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-bottom: 0.25rem;
    }
  }
  .text-link {
    color: nb-theme(link-color);
  }
  .bg-link {
    background: nb-theme(link-color);
  }
}

.dots {
  display: block;
  white-space: nowrap;
  width: 21em;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}