<div class="modal-header">
    <h3 class="newsletter-title-dots">{{ newsletter?.title }}</h3>
    <button class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body" [nbSpinner]="loading" nbSpinnerStatus="warning" nbSpinnerSize="xlarge" nbSpinnerMessage="">
    <pdf-viewer 
        [src]="fileData" 
        [render-text]="false" 
        [original-size]="true" 
        [autoresize]="true" 
        [fit-to-page]="true"
        [zoom]="1" 
        [show-all]="true" 
        [page]="1">
    </pdf-viewer>
</div>

<div class="modal-footer">
    <button nbButton type="button" shape="rectangle" size="medium" status="info" outline (click)="closeModal()">
        {{'close' | translate}}
    </button>
</div>
