<div *ngIf="calendarOptions" [nbSpinner]="loading" nbSpinnerStatus="warning" nbSpinnerSize="xlarge" nbSpinnerMessage="">

    <ng-fullcalendar #iwCalendar 
        [(eventsModel)]="events" 
        [options]="calendarOptions"
        (clickButton)="onClickButton($event.detail)"
        (eventClick)="onEventClick($event.detail)"
        (eventRender)="onEventRender($event.detail)"
        (eventMouseover)="onEventMouseOver($event.detail, op)"
        (eventMouseout)="onEventMouseOut($event.detail, op)"
        (eventDrop)="updateEvent($event.detail)" 
        (eventResize)="updateEvent($event.detail)"
        (initialized)="onCalendarInit($event)">
    </ng-fullcalendar>

    <p-overlayPanel appendTo="body" #op>
        <div class="alert alert-info mb-0">
           <strong>{{popOverEventInfo.title}}</strong>
        </div>        
        <div><strong>{{'start' | translate}}:</strong> {{popOverEventInfo.start}}</div>
        <div><strong>{{'end' | translate}}:</strong> {{popOverEventInfo.end}}</div>        
        <hr/>
        <div *ngIf="popOverEventInfo.organizer"><strong>{{'organizer' | translate}}:</strong> {{popOverEventInfo.organizer}}</div>
        <div *ngIf="popOverEventInfo.location"><strong>{{'location' | translate}}:</strong> {{popOverEventInfo.location}}</div>
        <div *ngIf="popOverEventInfo.reminder"><strong>{{'reminder' | translate}}:</strong> {{popOverEventInfo.reminder}}</div>
    </p-overlayPanel>

</div>