@import "../../../../../../node_modules/fullcalendar/dist/fullcalendar.css";

::ng-deep .cdk-overlay-container {    
    z-index: 1080 !important;
}

::ng-deep .ui-overlaypanel {
    background-color: #fff;
}

.fc-event-container .red{
    background-color: red;
    border: 1px solid #116fbf;
    color: #ffffff;
}