<div class="row">
    <div class="col-sm-12 text-right">
        <button nbButton status="primary" (click)="onCreate()">
            {{'addProject' | translate}}
        </button>
    </div>
</div>
<br>

<div *ngIf="languageChanged === 'ro'" [nbSpinner]="loading" nbSpinnerStatus="warning" nbSpinnerSize="xlarge" nbSpinnerMessage="{{ 'loading' | translate}} ...">
    <div class="row">
        <div class="col-sm-12">
            <ng2-smart-table 
                [settings]="smartTableSettings" 
                [source]="smartTableData" 
                (userRowSelect)="onRowSelect($event)"
                (create)="onCreate()" 
                (edit)="onEdit($event)" 
                (delete)="onDelete($event)">
            </ng2-smart-table>
        </div>
    </div>
</div>

<div *ngIf="languageChanged === 'en'" [nbSpinner]="loading" nbSpinnerStatus="warning" nbSpinnerSize="xlarge" nbSpinnerMessage="{{ 'loading' | translate}} ...">
    <div class="row">
        <div class="col-sm-12">
            <ng2-smart-table 
                [settings]="smartTableSettings" 
                [source]="smartTableData" 
                (userRowSelect)="onRowSelect($event)"
                (create)="onCreate()" 
                (edit)="onEdit($event)" 
                (delete)="onDelete($event)">
            </ng2-smart-table>
        </div>
    </div>
</div>