<div *ngIf="mode===modeDelete">
    <div class="modal-header">
        <h3>{{ 'delete' | translate }}</h3>
        <button class="close" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <nb-card class="headings-card">
            <nb-card-body size="x-small">
                <h5>Vrei sa stergi acest Contact ?</h5>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="modal-footer">
        <button nbButton type="submit" shape="rectangle" size="medium" status="danger" (click)="delete($event)">
            {{ 'delete' | translate }}
        </button>
        <button nbButton type="button" shape="rectangle" size="medium" status="info" outline (click)="closeModal()">
            {{ 'cancel' | translate }}
        </button>
    </div>
</div>

<div *ngIf="mode!==modeDelete">
    <form [formGroup]="form" autocomplete="off" novalidate>
        <div class="modal-header">            
            <h3>{{ (isUpdate ? 'edit' : 'add') | translate }}</h3>
            <button class="close" aria-label="Close" (click)="closeModal()">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <nb-card size="x-small" class="headings-card">
                <nb-card-body>
                    <input type="hidden" name="id" formControlName="id" autocomplete="off">
                    <div class="form-content">
                        <div class="form-group form-row">
                            <div class="col-sm-8">
                                <label for="contactTitle">{{ 'title' | translate }}</label>
                                <input id="contactTitle" 
                                    type="text" 
                                    name="title" 
                                    formControlName="title" 
                                    class="form-control"
                                    required 
                                    placeholder="{{ 'title' | translate }}" 
                                    pattern="\S+" 
                                    maxlength="150"
                                    [ngClass]="{ 'is-invalid': submitted && f.title.errors }" 
                                    autocomplete="off">
                                <div *ngIf="submitted && f.title.errors" class="error-feedback">
                                    <div *ngIf="f.title.errors.required">{{ 'requiredTitle' | translate }}</div>
                                    <div *ngIf="f.title.errors.minlength">{{ 'requiredLongText' | translate }}</div>
                                    <div *ngIf="f.title.errors.pattern">{{ 'whiteSpaceWarning' | translate }}</div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="contactPosition">{{ 'position' | translate }}</label>
                                    <ng-select #contactsSelect 
                                        [items]="contactPositions" 
                                        formControlName="position"
                                        bindValue="id" 
                                        bindLabel="name" 
                                        placeholder="{{ 'position' | translate }}"
                                        clearAllText="{{ 'clear' | translate }}" 
                                        appendTo="body" 
                                        [multiple]="false"
                                        [searchable]="true" 
                                        [closeOnSelect]="true" 
                                        [(ngModel)]="selectedPosition">
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group form-row">
                            <div class="col-sm-6">                                
                                <label for="contactDescription">{{ 'description' | translate }}</label>
                                <input id="contactDescription" 
                                    type="text" 
                                    name="description" 
                                    formControlName="description"
                                    class="form-control" 
                                    required 
                                    pattern="^(?! )[A-Za-zâ-țÂ-Ț0-9!-´ ]*(\S)$" 
                                    maxlength="150"
                                    placeholder="{{ 'description' | translate }}" 
                                    autocomplete="off">
                                <small class="form-text">Eg.: INTERIOR 1001</small>
                                <div *ngIf="submitted && f.description.errors" class="error-feedback">
                                    <div *ngIf="f.description.errors.required">{{ 'requiredDescription' | translate }}</div>
                                    <div *ngIf="f.description.errors.minlength">{{ 'requiredLongText' | translate }}</div>
                                    <div *ngIf="f.description.errors.pattern">{{ 'whiteSpaceWarning' | translate }}</div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">                                    
                                    <label for="contactLocation">{{ 'location' | translate }}</label>
                                    <input id="contactLocation" 
                                        type="text" 
                                        name="location" 
                                        formControlName="location"
                                        class="form-control" 
                                        required 
                                        pattern="^(?! )[A-Za-zâ-țÂ-Ț0-9!-´ ]*(\S)$" 
                                        maxlength="150"
                                        placeholder="{{ 'location' | translate }}" 
                                        autocomplete="off">
                                    <small class="form-text">Eg.: Parter - Tronson 3</small>
                                    <div *ngIf="submitted && f.location.errors" class="error-feedback">
                                        <div *ngIf="f.location.errors.required">{{ 'requiredLocation' | translate }}</div>
                                        <div *ngIf="f.location.errors.minlength">{{ 'requiredLongText' | translate }}</div>
                                        <div *ngIf="f.location.errors.pattern">{{ 'whiteSpaceWarning' | translate }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group form-row">
                            <div class="col-sm-12">
                                <label for="contactLocation">{{ 'employeeSelect' | translate }}</label>
                                <ng-select #employeesSelect 
                                    [items]="users" 
                                    formControlName="userId" 
                                    bindValue="id"
                                    bindLabel="fullName" 
                                    placeholder="{{ 'employeeSelect' | translate }}" 
                                    clearAllText="{{ 'clear' | translate }}"
                                    appendTo="body" 
                                    [multiple]="false" 
                                    [searchable]="true" 
                                    [closeOnSelect]="true"
                                    (change)="onChange($event)" 
                                    [(ngModel)]="selectedUserId">
                                </ng-select>
                            </div>
                        </div>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
        <div class="modal-footer">
            <div class="form-row col-12">
                <div class="col-6 text-left">
                    <nb-checkbox formControlName="enabled" status="success" [value]="contact.enabled">
                        <p>{{'enabled' | translate}}</p>
                    </nb-checkbox>
                </div>
                <div class="col-6 text-right">
                    <button nbButton type="submit" shape="rectangle" size="medium" status="primary" (click)="saveForm($event)"
                        class="margin-right-10">
                        {{ 'save' | translate }}
                    </button>
                    <button nbButton type="button" shape="rectangle" size="medium" status="info" outline (click)="closeModal()">
                        {{ 'cancel' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
