@import 'src/app/theme/styles/themes';

@include nb-install-component() {
    .full-width {
        flex: 1;
        min-width: 220px;
    }

    .form-inline>* {
        @include nb-ltr(margin, 0 1.5rem 1.5rem 0);
        @include nb-rtl(margin, 0 0 1.5rem 1.5rem);
    }

    nb-card {
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%,-50%);
        width: 450px;
        min-height: 300px;
    }

    nb-card.small-card {
        height: 300px;
    }

    nb-card nb-card-body {        
        padding-bottom: 0;        
    }


    .login-block {
        position: relative;
        width: 100%;
        height: 100%;
    }
}