<nb-layout>

    <nb-layout-column class="main-content">

        <div class="login-block">

            <nb-card size="small" class="headings-card">

                <nb-card-header class="text-center">
                    <img src="assets/images/logo-iw-v3-small.png" width="200px" class="" alt="InfoWorld" />
                </nb-card-header>

                <nb-card-body>

                    <form [formGroup]="loginForm" (ngSubmit)="login()" autocomplete="off" novalidate>

                        <div class="form-group">
                            <input nbInput fullWidth 
                                type="text" 
                                name="name" 
                                formControlName="name" 
                                class="form-control"                                
                                status="info" 
                                fieldSize="medium" 
                                placeholder="Utilizator" 
                                required 
                                onfocus="this.placeholder=''"
                                onblur="this.placeholder = 'Utilizator'" 
                                autocomplete="off">
                        </div>

                        <div class="form-group">
                            <input nbInput fullWidth 
                                type="password" 
                                name="password" 
                                formControlName="password" 
                                class="form-control"
                                status="info" 
                                fieldSize="medium"
                                placeholder="Parola"
                                required
                                onfocus="this.placeholder=''" 
                                onblur="this.placeholder = 'Parola'"
                                autocomplete="off">
                        </div>

                        <div class="form-group">
                            <button nbButton hero fullWidth
                                type="submit" 
                                status="warning" 
                                [disabled]="!loginForm.valid" 
                                size="large"
                                [nbSpinner]="loading" 
                                nbSpinnerStatus="warning" 
                                nbSpinnerSize="large"
                                nbSpinnerMessage="">
                                {{ 'login' | translate}}
                            </button>
                        </div>

                    </form>

                    <!-- <span *ngIf="error">
                        <div class="form-group">
                            <nb-alert status="danger" closable>{{ error }}</nb-alert>
                        </div>
                    </span> -->

                </nb-card-body>

            </nb-card>

        </div>
    </nb-layout-column>

</nb-layout>
