$tableBorderTd: #f1f1f1;
$tableBorderTr: #cdcdcd;
$tableBorderBody: #fdfdfd;
$tableBorderHeader: #d6d6d6;
$tableBorderFooter: #fdfdfd;
$tableSelectedColor: #f2f2f2;
$tableBackgroundColor: white;
$tableTextColor: #6b6b6b;
$tableHeaderTextColor: #484848;
$tableTitleColor: #fdfdfd;

%textEllipsis {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  color: $tableTextColor;
  width: 60%;
}

%tableHeaderScroll {
  border-bottom: 1px solid $tableBorderHeader;
  border-right: none;
  border-left: none;
  border-top: none;
}

%tableBodyScroll {
  border: none;
  padding: 0 0 5px 0;
}

%tableBody {

  td {
    @extend %textEllipsis;
    border: 1px solid $tableBorderTd;
    padding: .3em;
    &ng-star-inserted {
      padding: 2px 2px 2px 5px !important;
    }
  }

  tr, .ui-treetable-row {
    cursor: pointer;
    height: 28px;
    padding: 0;
  }
}

%tableHeader {

  .ui-sortable-column-icon {    
    float: right;
  }

  th, td {
    border: 1px solid #d3d3d3;
    background-color: #ededed;
  }

  th {
    height: 28px;
    @extend %textEllipsis;
    padding: 2px 2px 2px 5px !important;
    border: 1px solid #d3d3d3;
  }

  color: $tableHeaderTextColor;
}

%tableSelectedActive {
  padding: 3px;
  &.ui-state-highlight {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
    background-color: $tableSelectedColor;
    .ng-star-inserted {
      font-weight: 600;      
    }
  }
}

%tableSortActive {
  &.ui-state-highlight {
    background-color: $tableSelectedColor;
    .ng-star-inserted {
      font-weight: 600;      
    }
  }
}

%tableActionButtons {
  text-align: center;  
  .fa {
    padding: 0 0.5em;
  }
  .ui-button {
    .ui-button-text {
      padding: 0;
    }
    border: none;
    padding: 0;
    background-color: transparent;
    &:hover {
      border: none;
      color: #1f89ce;
    }
    &:disabled {
      opacity: 0.35;
    }
  }
}

.ellipsis {
  @extend %textEllipsis;
  display: inline-block;
}

.ui-table {

  background-color: $tableBackgroundColor;

  .ui-paginator {
    border: none;
    .ui-paginator-pages {
      .ui-paginator-page {
        padding: 0.15em;
      }
    }
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    .ui-paginator-element{
      height: auto !important;
    }
  }
  .ui-table-scrollable-header {
    @extend %tableHeaderScroll;
  }
  .ui-table-scrollable-body {
    @extend %tableBodyScroll;
  }

  .ng-star-inserted:not(a) {

  }

  .ui-table-tbody {
    @extend %tableBody;

    tr:not(.iwn-data-table-expanded) {
      @extend %tableSelectedActive;
    }
  }

  .ui-table-thead {
    @extend %tableHeader;

    th.ng-star-inserted {
      @extend %tableSortActive;
    }
  }

  .iwn-data-table-checkbox {
    width: 32px !important;
  }

  .ui-table-group-header {
    font-weight: bold;
  }

  .iwn-data-table-expanded {
    > td {
      padding: 0 !important;
    }
  }

  .action-btn {
    @extend %tableActionButtons;
  }
}

body .iwn-tree-table.ui-treetable {

  .ui-paginator {
    border: none;
    .ui-paginator-pages {
      .ui-paginator-page {
        padding: 0.15em;
      }
    }
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    .ui-paginator-element{
      height: auto !important;
    }
  }

  thead {
    @extend %tableHeader;
    th, td {
      background-color: whitesmoke;
      border: none;
      border-top: 1px solid gainsboro;
    }
    th {
      .iwn-tree-header-checkbox {
        margin-left: 48px;
        display: inline;
      }
    }
  }

  tbody {
    @extend %tableBody;
    &.ui-treetable-tbody {
      background-color: whitesmoke;
    }
    tr:hover {
      background-color: white;
    }
    td {
      border: 1px solid #ffffff;
    }
  }

  .ui-treetable-row.ui-treetable-row-selectable:not(.ui-state-highlight):hover {
    background-color: transparent;
  }

  .ui-state-highlight {
    @extend %tableSelectedActive;
  }
}

.table-card-title {
  padding: 4px;
  font-weight: 600;
  border-bottom: 1px solid $tableBorderTd;
  background: $tableTitleColor;
}

.table-card-title {
}

.iwn-data-table-shadow {
  background-color: white;
  border: 1px solid $tableBorderHeader;
  position: relative;
}

.iwn-data-table-disable-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: #cccccc03;
}

.iwn-data-table-disable {
  .ui-table {
    .ui-paginator-element {
      color: #cbcbcb;
      background-color: #ededed;
    }
    .ui-dropdown-label {
      color: #cbcbcb;
    }
  }
}

.empty-message {
  padding: 5px;
  text-align: center;
}
