::ng-deep .display-block {
    display: block;
}

::ng-deep ng2-smart-table table tr td {
    border: 1px solid #cdd5dc !important;
}

::ng-deep ng2-smart-table table tr th {
    border: 1px solid #cdd5dc !important;
}

::ng-deep  ng2-smart-table nav.ng2-smart-pagination-nav .pagination {
    border: 1px solid #cdd5dc !important;
}

::ng-deep ng2-smart-table nav.ng2-smart-pagination-nav .pagination li:not(:last-child) {
    border-right: 1px solid #cdd5dc !important;
}