<div class="row">
    <div class="col-xxxl-4 col-xxl-4 col-lg-4 col-md-6">
        <app-dashboard-widget-notifications></app-dashboard-widget-notifications>
    </div>

    <div class="col-xxxl-4 col-xxl-4 col-lg-4 col-md-6">
        <app-dashboard-widget-documents></app-dashboard-widget-documents>
    </div>

    <div class="col-xxxl-4 col-xxl-4 col-lg-4 col-md-6">
        <app-dashboard-widget-contact></app-dashboard-widget-contact>
    </div>
</div>

<div class="row">
    <div class="col-xxxl-4 col-xxl-4 col-lg-4 col-md-6">
        <app-dashboard-widget-newsletter></app-dashboard-widget-newsletter>
    </div>

    <div class="col-xxxl-4 col-xxl-4 col-lg-4 col-md-6">
        <app-dashboard-widget-calendar></app-dashboard-widget-calendar>
    </div>

    <div class="col-xxxl-4 col-xxl-4 col-lg-4 col-md-6">
        <app-dashboard-widget-weather></app-dashboard-widget-weather>
    </div>

</div>
