<div class="row scroll-panel" [nbSpinner]="loading" nbSpinnerStatus="warning" nbSpinnerSize="xlarge" nbSpinnerMessage="{{ 'loading' | translate}} ..."
    [ngStyle]="{'height':windowHeight}">

    <!-- START : Search Form -->
    <div class="col-md-12">
        <nb-card class="inline-form-card">
            <nb-card-body>
                <form [formGroup]="searchForm" class="form-inline">
                    <div class="input-group full-width">                        
                        <label>{{ 'news' | translate}}&nbsp;&nbsp;-&nbsp;&nbsp;<span class="text-warning document-category-text" title="{{ currentPageName }}">{{ currentPageName }}</span></label>
                    </div>
                    <div class="input-group full-width">
                        <input nbInput fullWidth id="searchText" type="text" formControlName="searchText" fieldSize="medium"
                            class="form-control" placeholder="{{ 'Search by name' | translate }}" autocomplete="off">
                    </div>
                    <button nbButton type="submit" shape="rectangle" size="medium" status="primary" (click)="search($event)">
                        {{ 'Search' | translate }}
                    </button>
                </form>
            </nb-card-body>
        </nb-card>
    </div>

    <div *ngIf="!loading && subcategories.length == 0" class="col-md-12">
        <nb-card class="inline-form-card" accent="danger">
            <nb-card-header>{{ 'Nu au fost gasite date' | translate }}</nb-card-header>
        </nb-card>
    </div>

    <!-- END : Search Form -->

    <div *ngFor="let subcategory of subcategories" class="col-xl-4 col-lg-4 col-md-6">

        <div *ngIf="subcategory.news && subcategory.news.length > 0">

        <nb-card size="medium" class="headings-card">

            <nb-card-header>
                <h2 class="dots-news-subcategories">{{subcategory.name}}</h2>
            </nb-card-header>

            <nb-card-body>

                <div *ngFor="let news of subcategory.news">
                    <div class="header">
                        <div>
                            <h5 class="dots-news">
                                <a (click)="showNewsDetails(news, $event)" style="cursor: pointer">
                                    {{news.title}}
                                </a>
                            </h5>
                        </div>
                        <div class="detail font-w-light">{{news.date | date: 'dd.MM.yyyy'}}</div>
                    </div>
                </div>

            </nb-card-body>
        </nb-card>
        </div>
    </div>

</div>
