<div *ngIf="mode===modeDelete">
    <div class="modal-header">
        <h3>{{ 'delete' | translate }}</h3>
        <button class="close" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <nb-card class="headings-card">
            <nb-card-body size="medium">
                <h5>{{ 'deleteNewsSubcategoryInterogation' | translate }}</h5>
                <h3>{{ newsSubCategory?.name }}</h3>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="modal-footer">
        <button nbButton type="submit" shape="rectangle" size="medium" status="danger" (click)="delete($event)">
            {{ 'delete' | translate }}
        </button>
        <button nbButton type="button" shape="rectangle" size="medium" status="info" outline (click)="closeModal()">
            {{ 'cancel' | translate }}
        </button>
    </div>
</div>

<div *ngIf="mode!==modeDelete">
    <form [formGroup]="form" autocomplete="off" novalidate>
        <div class="modal-header">            
            <h3>{{ (isUpdate ? 'edit' : 'add') | translate }}</h3>
            <button class="close" aria-label="Close" (click)="closeModal()">
                <span aria-hidden="true">×</span>
            </button>
        </div>

        <div class="modal-body">

            <nb-card size="x-small" class="headings-card">
                <nb-card-body>

                    <input type="hidden" name="id" formControlName="id" autocomplete="off">
                    <div class="form-content">

                        <div class="form-group">
                            <!-- input-group-lg -->
                            <label for="newsSubCategoryName">{{ 'name' | translate }}</label>
                            <input id="newsSubCategoryName" type="text" name="name" formControlName="name" class="form-control"
                                required pattern="^(?! )[A-Za-zâ-țÂ-Ț0-9!-´ ]*(\S)$" maxlength="150" placeholder="{{ 'name' | translate }}"
                                [ngClass]="{ 'is-invalid': submitted && f.name.errors }" autocomplete="off">
                            <div *ngIf="submitted && f.name.errors" class="error-feedback">
                                <div *ngIf="f.name.errors.required">{{ 'requiredName' | translate }}</div>
                                <div *ngIf="f.name.errors.minlength">{{ 'requiredLongText' | translate }}</div>
                                <div *ngIf="f.name.errors.pattern">{{ 'whiteSpaceWarning' | translate }}</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="newsCategoryName">{{ 'newsCategory' | translate }}</label>
                            <ng-select #departmentSelect [items]="newsCategories" formControlName="newsCategoryId"
                                bindValue="id" bindLabel="name" placeholder="{{ 'newsSelectCategory' | translate }}"
                                clearAllText="{{ 'clear' | translate }}" appendTo="body" [multiple]="false"
                                [searchable]="true" [closeOnSelect]="true" [(ngModel)]="selectedNewsCategoryId">
                            </ng-select>
                            <div *ngIf="submitted && f.newsCategoryId.errors" class="error-feedback">
                                <div *ngIf="submitted && f.newsCategoryId.errors.required">{{ 'requiredCategory' |
                                    translate }}</div>
                            </div>
                        </div>
                    </div>

                </nb-card-body>
            </nb-card>

        </div>

        <div class="modal-footer">
            <div class="form-row col-12">
                <div class="col-6 text-left">
                    <nb-checkbox formControlName="enabled" status="success" [value]="newsSubCategory.enabled">
                        <p>{{'enabled' | translate}}</p>
                    </nb-checkbox>
                </div>
                <div class="col-6 text-right">
                    <button nbButton type="submit" shape="rectangle" size="medium" status="primary" (click)="saveForm($event)"
                        class="margin-right-10">
                        {{ 'save' | translate }}
                    </button>
                    <button nbButton type="button" shape="rectangle" size="medium" status="info" outline (click)="closeModal()">
                        {{ 'cancel' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
