<form [formGroup]="eventForm" autocomplete="off" novalidate>
    <div class="modal-header">
        <h3>{{'editEvent' | translate}}</h3>
        <button class="close" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">

        <nb-card size="medium" class="headings-card">
            <nb-card-body>

                <input type="hidden" name="id" formControlName="id" autocomplete="off">
                <div class="form-content">

                    <div class="form-group">
                        <!-- input-group-lg -->
                        <label for="title">{{'title' | translate}}</label>
                            <input type="text" name="title" formControlName="title" class="form-control"
                            required placeholder="Title" onfocus="this.placeholder=''" onblur="this.placeholder = 'Title'"
                            autocomplete="off">
                    </div>

                    <div class="form-group">
                        <!-- input-group-lg -->
                        <label for="organizer">{{'organizer' | translate}}</label>
                            <input type="text" name="organizer" formControlName="organizer" class="form-control"
                            required placeholder="organizer" onfocus="this.placeholder=''" onblur="this.placeholder = 'Organizer'"
                            autocomplete="off">
                    </div>

                    <div class="form-group">
                        <!-- input-group-lg -->
                        <label for="location">{{'location' | translate}}</label>
                            <input type="text" name="location" formControlName="location" class="form-control"
                            required placeholder="location" onfocus="this.placeholder=''" onblur="this.placeholder = 'Location'"
                            autocomplete="off">
                    </div>

                    <div class="form-group">
                        <!-- input-group-lg -->
                        <label for="reminder">{{'reminder' | translate}} ({{'minutes' | translate}})</label>
                            <input type="text" name="reminder" formControlName="reminder" class="form-control"
                            required placeholder="reminder" onfocus="this.placeholder=''" onblur="this.placeholder = 'Reminder'"
                            autocomplete="off">
                    </div>

                    <div class="form-group form-row">
                        <div class="col-sm-6">
                            <label for="start">{{'startDate' | translate}}</label>
                            <input nbInput 
                                id="start" 
                                type="text" 
                                name="start" 
                                formControlName="start"
                                shape="rectangle" 
                                fieldSize="medium"
                                class="form-control" 
                                placeholder="Start Date"
                                [nbDatepicker]="formcontrolStartDate" 
                                [(ngModel)]="startDate"
                                [value]="event?.start | date: 'dd/MM/yyyy'">
                            <nb-datepicker #formcontrolStartDate format="dd/MM/yyyy"></nb-datepicker>
                        </div>
                        <div class="col-sm-6 text-left">
                            <label for="end">{{'endDate' | translate}}</label>
                            <input id="end" type="text" name="end" formControlName="end" nbInput class="form-control"
                                shape="rectangle" fieldSize="medium" placeholder="End Date" [nbDatepicker]="formcontrolEndDate"
                                [(ngModel)]="endDate" [value]="event?.end | date: 'dd/MM/yyyy'">
                            <nb-datepicker #formcontrolEndDate format="dd/MM/yyyy"></nb-datepicker>
                        </div>
                    </div>

          
        
                </div>

            </nb-card-body>
        </nb-card>

    </div>

    <div class="modal-footer">
        <button nbButton type="submit" shape="rectangle" size="medium" status="primary" (click)="saveForm($event)">{{'save' | translate}}</button>
        <button nbButton type="button" shape="rectangle" size="medium" status="info" outline (click)="closeModal()">{{'cancel' | translate}}</button>
    </div>
</form>