::ng-deep .cdk-overlay-container {
  z-index: 1080 !important;
}

::ng-deep .customTable ng2-smart-table .ng2-smart-actions ng2-st-tbody-custom {
  display: flex;
  height: 100%;
}

::ng-deep .customTable ng2-smart-table .ng2-smart-actions ng2-st-tbody-edit-delete {
  display: none;
}

:host /deep/ ng2-smart-table tbody tr td div {
  white-space: nowrap;
  max-width: 42em;
  overflow: hidden;
  text-overflow: ellipsis;
}