<div class="row" [nbSpinner]="loading" nbSpinnerStatus="warning" nbSpinnerSize="xlarge" nbSpinnerMessage="{{ 'loading' | translate}} ..."
    style="height:90%">

    <iw-calendar 
        defaultView="month"
        [header]="{left: 'prev,next today', center: 'title', right: 'month,agendaWeek,agendaDay,listMonth'}"
        ></iw-calendar>

</div>
