<div class="modal-header">
  <h3 class="dots">{{ news?.title }}</h3>
  <button
    class="close"
    aria-label="Close"
    (click)="closeModal()">
    <span aria-hidden="true">×</span>
  </button>
</div>

<div
  class="modal-body"
  [nbSpinner]="loading"
  nbSpinnerStatus="warning"
  nbSpinnerSize="xlarge"
  nbSpinnerMessage>
  <nb-card
    size="medium"
    class="headings-card">
    <nb-card-body>
      <p
        *ngIf="news.body"
        [innerHTML]="news.body | safeHtml"></p>
    </nb-card-body>
  </nb-card>
</div>

<div class="modal-footer">
  <button
    nbButton
    type="button"
    shape="rectangle"
    size="medium"
    status="info"
    outline
    (click)="closeModal()">
    {{'close' | translate}}
  </button>
</div>
