<div *ngIf="mode===modeDelete">
    <div class="modal-header">
        <h3>{{ 'delete' | translate }}</h3>
        <button class="close" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <nb-card class="headings-card">
            <nb-card-body size="medium">
                <h5>Vrei sa stergi Echipa ?</h5>
                <h3>{{ team?.name }}</h3>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="modal-footer">
        <button nbButton type="submit" shape="rectangle" size="medium" status="danger" (click)="delete($event)">
            {{ 'delete' | translate }}
        </button>
        <button nbButton type="button" shape="rectangle" size="medium" status="info" outline (click)="closeModal()">
            {{ 'cancel' | translate }}
        </button>
    </div>
</div>

<div *ngIf="mode!==modeDelete">
    <form [formGroup]="form" autocomplete="off" novalidate>
        <div class="modal-header">            
            <h3>{{ (isUpdate ? 'edit' : 'add') | translate }}</h3>
            <button class="close" aria-label="Close" (click)="closeModal()">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <nb-card size="x-small" class="headings-card">
                <nb-card-body>
                    <input type="hidden" name="id" formControlName="id" autocomplete="off">
                    <div class="form-content">
                        <div class="form-group">
                            <!-- input-group-lg -->
                            <label for="teamName">{{ 'teamName' | translate }}</label>
                            <input id="teamName" type="text" name="name" formControlName="name" class="form-control"
                                required pattern="^(?! )[A-Za-zâ-țÂ-Ț0-9!-´ ]*(\S)$" placeholder="{{ 'name' | translate }}"
                                [ngClass]="{ 'is-invalid': submitted && f.name.errors }" autocomplete="off" maxlength="150">
                            <div *ngIf="submitted && f.name.errors" class="error-feedback">
                                <div *ngIf="f.name.errors.required">{{ 'requiredTeamName' | translate }}</div>
                                <div *ngIf="f.name.errors.pattern">{{ 'whiteSpaceWarning' | translate }}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="departmentSelect">{{ 'department' | translate }}</label>
                            <ng-select #departmentSelect [items]="departments" formControlName="departmentId" bindValue="id"
                                bindLabel="name" placeholder="{{ 'departmentSelect' | translate }}" clearAllText="{{ 'clear' | translate }}"
                                appendTo="body" [multiple]="false" [searchable]="true" [closeOnSelect]="true"
                                [(ngModel)]="selectedDepartmentId">
                            </ng-select>
                            <div *ngIf="submitted && f.departmentId.errors" class="error-feedback">
                                <div *ngIf="submitted && f.departmentId.errors.required">{{ 'requiredDepartament' |
                                    translate }}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="usersSelect">{{ 'employees' | translate }}</label>
                            <ng-select #usersSelect [items]="users" formControlName="usersId" bindValue="id" bindLabel="fullName"
                                placeholder="{{ 'employeesSelect' | translate }}" clearAllText="{{ 'clear' | translate }}"
                                appendTo="body" [multiple]="true" [searchable]="true" [closeOnSelect]="false"
                                [hideSelected]="true" [(ngModel)]="selectedUsersId">
                            </ng-select>
                            <div *ngIf="submitted && f.usersId.errors" class="error-feedback">
                                <div *ngIf="submitted && f.usersId.errors.required">{{ 'requiredEmployees' | translate
                                    }}</div>
                            </div>
                        </div>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
        <div class="modal-footer">
            <div class="form-row col-12">
                <div class="col-6 text-left">
                    <nb-checkbox formControlName="enabled" status="success" [value]="team.enabled">
                        <p>{{'enabled' | translate}}</p>
                    </nb-checkbox>
                </div>
                <div class="col-6 text-right">
                    <button nbButton type="submit" shape="rectangle" size="medium" status="primary" (click)="saveForm($event)"
                        class="margin-right-10">
                        {{ 'save' | translate }}
                    </button>
                    <button nbButton type="button" shape="rectangle" size="medium" status="info" outline (click)="closeModal()">
                        {{ 'cancel' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
