<nb-layout>

    <nb-layout-header fixed>
        <app-header></app-header>
    </nb-layout-header>

    <nb-sidebar class="menu-sidebar">
        <nb-menu [items]="layoutModel.sidebarMenuItems"></nb-menu>
    </nb-sidebar>

    <nb-layout-column class="main-content">
        <router-outlet></router-outlet>
    </nb-layout-column>

</nb-layout>