<div
  class="row"
  [nbSpinner]="loading"
  nbSpinnerStatus="warning"
  nbSpinnerSize="xlarge"
  nbSpinnerMessage="{{ 'loading' | translate}} ..."
  style="height:90%">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <nb-card>
      <nb-card-header>
        <div class="row">
          <div class="col-md-1">
            <img
              class="profile-card-logo-iw"
              src="assets/images/logo-iw-small-100.png"
              alt="InfoWorld">
          </div>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-sm-2">
            <img
              [src]="user?.image"
              alt="{{ user?.fullName }}"
              class="card-img-top user-iw">
            <br>
            <p class="profile-userName"><i>{{user?.fullName}}</i></p>
          </div>
          <div class="col-sm-10">
            <div class="row">
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-sm-1">
                    <i
                      class="fas fa-envelope profile-icon-iw"
                      title="{{ 'email' | translate }}"></i>
                  </div>
                  <div class="col-sm-11">
                    <p class="profile-text-iw">
                      {{ user?.email }}
                    </p>
                  </div>
                  <div class="col-sm-1">
                    <i
                      class="fa fa-briefcase profile-icon-iw"
                      title="{{ 'department' | translate }}"></i>
                  </div>
                  <div class="col-sm-11">
                    <p
                      class="profile-text-iw"
                      *ngIf="user?.departmentsNameList">
                        {{ user?.departmentsNameList }}
                      </p>
                    <p
                      class="profile-text-iw"
                      *ngIf="!user?.departmentsNameList">
                        No department.
                      </p>
                  </div>
                  <div class="col-sm-1">
                    <i
                      class="fas fa-clock profile-icon-iw"
                      title="{{ 'jobType' | translate }}"></i>
                  </div>
                  <div class="col-sm-11">
                    <p
                      class="profile-text-iw"
                      *ngIf="user?.jobType?.name">
                      {{ user?.jobType?.name }}
                    </p>
                    <p
                      class="profile-text-iw"
                      *ngIf="!user?.jobType?.name">
                      <cite title="Interior">Unknown</cite>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-sm-1">
                    <i
                      class="fas fa-building profile-icon-iw"
                      title="{{ 'building' | translate }}"></i>
                  </div>
                  <div class="col-sm-11">
                    <p
                      class="profile-text-iw"
                      *ngIf="user?.pager">
                      {{ user?.pager }}
                    </p>
                    <p
                      class="profile-text-iw"
                      *ngIf="!user?.pager">
                      <cite title="Interior">Unknown</cite>
                    </p>
                  </div>
                  <div class="col-sm-1">
                    <i
                      class="fas fa-phone profile-icon-iw"
                      title="{{ 'phoneNumber' | translate }}"></i>
                  </div>
                  <div class="col-sm-11">
                    <p
                      class="profile-text-iw"
                      *ngIf="user?.mobile">
                      {{ user?.mobile }}
                    </p>
                    <p
                      class="profile-text-iw"
                      *ngIf="!user?.mobile">
                      <cite title="Interior">Unknown</cite>
                    </p>
                  </div>
                  <div class="col-sm-1">
                    <i
                      class="fas fa-map-marker-alt profile-icon-iw"
                      title="{{ 'location' | translate }}"></i>
                  </div>
                  <div class="col-sm-11">
                    <p
                      class="profile-text-iw"
                      *ngIf="user?.location">
                      {{ user?.location }}
                    </p>
                    <p
                      class="profile-text-iw"
                      *ngIf="!user?.location">
                      <cite title="Interior">Unknown</cite>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-1">
                <i
                  title="{{ 'team' | translate }}"
                  class="fas fa-people-carry profile-icon-iw"
                  alt="Echipa"></i>
                <!-- <p>Teams <span class="badge badge-secondary">3</span></p> -->
              </div>
              <div class="col-sm-11">
                <p
                  class="profile-text-iw"
                  *ngIf="user?.teamsNameList">
                  {{ user?.teamsNameList }}
                </p>
                <p
                  class="profile-text-iw"
                  *ngIf="!user?.teamsNameList">
                  No team.
                </p>
              </div>
              <div class="col-sm-1">
                <i
                  title="{{ 'projects' | translate }}"
                  class="fas fa-file-powerpoint profile-icon-iw"
                  alt="Proiect(e)"></i>
              </div>
              <div class="col-sm-11">
                <p
                  class="profile-text-iw"
                  *ngIf="user?.projectsNameList">
                  {{ user?.projectsNameList }}
                </p>
                <p
                  class="profile-text-iw"
                  *ngIf="!user?.projectsNameList">
                  No project.
                </p>
              </div>
              <br>
              <br>
              <div class="col-sm-12">
                <hr>
                <h3>
                  {{ 'description' | translate}}
                  <i
                    title="{{ 'editDescription' | translate }}"
                    (click)="showDialog(user)"
                    class="fas fa-edit profile-description-icon-iw"></i>
                </h3>
                <p
                  *ngIf="user?.description != null"
                  class="profile-description-iw"
                  [innerHTML]="user?.description | safeHtml">
                </p>
                <p
                  *ngIf="user?.description == null"
                  class="profile-description-iw">
                  No description.</p>
              </div>
            </div>
          </div>
        </div>
      </nb-card-body>
      <nb-card-footer>By InfoWorld</nb-card-footer>
    </nb-card>
  </div>
</div>
