.profile-card-logo-iw {
  width: 100%;
}

.profile-user-iw {
  width: 100%;
  height: 190px;
}

.profile-userName {
  text-align: center;
  font-size: 20px;
}

.profile-text-iw {
  font-size: 20px;
  padding-left: 0px !important;
  word-break: break-word;
}

.profile-description-iw {
  font-size: 15px;
  // word-break: break-word;
  // word-break: break-all;
  word-wrap: break-word;
}

.profile-icon-iw {
  font-size: 20px; // float: right;
}

.profile-teamText-iw {
  padding-left: 0px !important; // padding-top: 5px;
  margin-bottom: 0px !important;
  font-size: 20px;
}

.profile-description-icon-iw {
  font-size: 20px;
  float: right;
  cursor: pointer;
}