.user-details-iw {
  width: 100%;
  height: 170px;
}

.card-email-iw {
  font-size: 20px;
  padding-top: 2px;
}

.card-function-iw {
  font-size: 20px;
  padding-top: 2px;
}

.card-text-iw {
  padding-top: 2px;
  word-break: break-word;
  word-wrap: break-word;
}

.card-teamText-iw {
  padding-left: 0px !important;
  margin-bottom: 0px !important;
  word-break: break-word;
}

nb-card-body {
  padding: 0px !important;
}

.profile-description-iw {
  word-break: break-word;
  word-wrap: break-word;
}