<div class="modal-header">
  <h3>{{ user?.fullName }}</h3>
  <button
    class="close"
    aria-label="Close"
    (click)="closeModal()">
    <span aria-hidden="true">×</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-sm-3">
      <!-- <img
        [src]="user.image"
        alt="{{ user.fullName }}"
        src="assets/images/user-nobody.jpg"
        class="user-details-iw"> -->
      <img
        [src]="user?.image"
        alt="{{ user?.fullName }}"
        class="card-img-top user-iw">
    </div>
    <div class="col-sm-9">

      <div *ngIf="contact">
        <p>{{ contact.title }}</p>
        <div class="row">
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-2">
                <i
                  class="far fa-comment modal-icon-iw"
                  title="{{ 'description' | translate }}"></i>
              </div>
              <div class="col-sm-10">
                <p
                  class="card-text-iw"
                  *ngIf="contact.description">{{ contact.description }}</p>
                <p
                  class="card-text-iw"
                  *ngIf="!contact.description">Unknown</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-2">
                <i
                  class="fas fa-search-location modal-icon-iw"
                  title="{{ 'location' | translate }}"></i>
              </div>
              <div class="col-sm-10">
                <p
                  class="card-text-iw"
                  *ngIf="contact.location">{{ contact.location }}</p>
                <p
                  class="card-text-iw"
                  *ngIf="!contact.location">Unknown</p>
              </div>
            </div>
          </div>
        </div>
        <hr>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-2">
              <i
                class="fas fa-envelope modal-icon-iw"
                title="{{ 'email' | translate }}"></i>
            </div>
            <div class="col-sm-10">
              <p class="card-text-iw">{{ user.email }}</p>
            </div>
            <div class="col-sm-2">
              <i
                class="fa fa-briefcase modal-icon-iw"
                title="{{ 'department' | translate }}"></i>
            </div>
            <div class="col-sm-10">
              <p
                *ngIf="user.departmentsNameList"
                class="card-text-iw">{{ user.departmentsNameList }}</p>
              <p
                *ngIf="!user.departmentsNameList"
                class="card-text-iw">No department.</p>
            </div>
            <div class="col-sm-2">
              <i
                class="fas fa-clock modal-icon-iw"
                title="{{ 'jobType' | translate }}"></i>
            </div>
            <div class="col-sm-10">
              <p
                class="card-text-iw"
                *ngIf="user.jobType?.name">{{ user.jobType?.name }}</p>
              <p
                class="card-text-iw"
                *ngIf="!user.jobType?.name"><cite title="Tipul jobului">Unknown</cite></p>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-2">
              <i
                class="fas fa-building modal-icon-iw"
                title="{{ 'building' | translate }}"></i>
            </div>
            <div class="col-sm-10">
              <p
                class="card-text-iw"
                *ngIf="user.pager">{{ user.pager }}</p>
              <p
                class="card-text-iw"
                *ngIf="!user.pager"><cite title="Interior">Unknown</cite></p>
            </div>
            <div class="col-sm-2">
              <i
                class="fas fa-phone modal-icon-iw"
                title="{{ 'phoneNumber' | translate }}"></i>
            </div>
            <div class="col-sm-10">
              <p
                class="card-text-iw"
                *ngIf="user.mobile">{{ user.mobile }}</p>
              <p
                class="card-text-iw"
                *ngIf="!user.mobile"><cite title="Interior">Unknown</cite></p>
            </div>
            <div class="col-sm-2">
              <i
                class="fas fa-map-marker-alt modal-icon-iw"
                title="{{ 'location' | translate }}"></i>
            </div>
            <div class="col-sm-10">
              <p
                class="card-text-iw"
                *ngIf="user.location">{{ user.location }}</p>
              <p
                class="card-text-iw"
                *ngIf="!user.location"><cite title="Interior">Unknown</cite></p>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-2">
          <i
            title="{{ 'team' | translate }}"
            class="fas fa-people-carry modal-icon-iw"
            alt="Echipa"></i>
        </div>
        <div class="col-sm-10">
          <p
            *ngIf="user.teamsNameList"
            class="card-text-iw">{{ user.teamsNameList }}</p>
          <p
            *ngIf="!user.teamsNameList"
            class="card-text-iw">No team.</p>
        </div>
        <div class="col-sm-2">
          <i
            title="{{ 'projects' | translate }}"
            class="fas fa-file-powerpoint modal-icon-iw"
            alt="Proiect(e)"></i>
        </div>
        <div class="col-sm-10">
          <p
            *ngIf="user.projectsNameList"
            class="card-text-iw">{{ user.projectsNameList }}</p>
          <p
            *ngIf="!user.projectsNameList"
            class="card-text-iw">No project.</p>
        </div>
        <div class="col-sm-12">
          <h6>Description</h6>
          <hr>
          <p
            *ngIf="user.description != null"
            class="profile-description-iw"
            [innerHTML]="user.description | safeHtml"></p>
          <p
            *ngIf="user.description == null"
            class="profile-description-iw">No description.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button
    nbButton
    type="button"
    shape="rectangle"
    size="medium"
    status="info"
    outline
    (click)="closeModal()">
    {{ 'close' | translate }}
  </button>
</div>
