@import '../../../../../theme/styles/themes';
@import '~@nebular/theme/styles/global/breakpoints';
@import '~bootstrap/scss/mixins/breakpoints';
@include nb-install-component() {
  nb-card {
    background-image: nb-theme(radial-gradient);
  }
  nb-card-body {
    height: 100%;
    padding: 2rem;
    color: nb-theme(color-fg);
  }
  nb-card-body .dropdown.ghost-dropdown .dropdown-toggle {
    font-family: nb-theme(font-secondary);
    font-size: 2.5rem;
    font-weight: nb-theme(font-weight-normal);
    color: nb-theme(color-fg-heading);
    background-color: #ffffff;
    border-color: #ffffff;
    padding: 0;
  }
  nb-card-body .dropdown.ghost-dropdown .dropdown-menu {
    color: #a4abb3;
    background-color: #ffffff;
    border: 1px solid nb-theme(color-fg-heading);
    padding: 5px 0;
  }
  nb-card-body .dropdown.ghost-dropdown .dropdown-menu .dropdown-item {
    font-size: 1.4rem;
  }
  .location {
    font-family: nb-theme(font-secondary);
    font-size: 2.5rem;
    font-weight: nb-theme(font-weight-normal);
    color: nb-theme(color-fg-heading);
  }
  .date {
    font-family: nb-theme(font-main);
    font-size: 1.25rem;
    line-height: 1.25rem;
    font-weight: nb-theme(font-weight-light);
  } // Weather Style
  .icon {
    background-size: cover;
    background-repeat: no-repeat;
  }
  .icon-s {
    height: 30px;
    width: 30px;
  }
  .icon-m {
    height: 60px;
    width: 60px;
  }
  .icon-lg {
    height: 90px;
    width: 90px;
  }
  $class: i-; // loops through 100 times
  $iconsNb-list: 1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44; // create array of iconsNb
  @for $i from 1 through length($iconsNb-list) {
    $iconNb: nth($iconsNb-list, $i); // for each $col_#{i} 
    .#{$class}#{$iconNb} {
      // set the background-color to cornflowerblue and 
      // each time lighten the color slightly
      background-image: url(../../../../../../assets/weather/icons/svg/#{$iconNb}.svg);
    }
  }
  .daily-forecast {
    display: flex;
    flex-direction: column;
    margin-top: -1.5rem;
    .info {
      display: flex;
      justify-content: space-around;
      .temperature {
        font-size: 5rem;
        font-weight: nb-theme(font-weight-bolder);
        font-family: nb-theme(font-secondary);
        color: nb-theme(color-fg-heading);
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 2rem;
      }
      .icon {
        font-size: 10rem;
        line-height: 10rem;
        display: inline-block;
        color: nb-theme(color-success);
        @include nb-for-theme(cosmic) {
          color: nb-theme(color-fg);
          text-shadow: 0 3px 0 #665ebd, 0 4px 10px rgba(33, 7, 77, 0.5), 0 2px 10px #928dff;
        }
        @include nb-for-theme(corporate) {
          color: nb-theme(color-warning);
        }
      }
    }
    .details {
      display: flex;
      justify-content: space-around;
      .parameter {
        display: flex;
        flex-direction: column;
        text-align: center;
        .parameter-name {
          font-family: nb-theme(font-main);
          font-size: 1.25rem;
          font-weight: nb-theme(font-weight-light);
          line-height: 2rem;
        }
        .parameter-value {
          font-family: nb-theme(font-secondary);
          color: nb-theme(color-fg-heading);
          font-weight: nb-theme(font-weight-bolder);
        }
      }
    }
  }
  .weekly-forecast {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    .day {
      display: flex;
      flex-direction: column;
      text-align: center;
      .caption {
        text-transform: uppercase;
        font-family: nb-theme(font-secondary);
        color: nb-theme(color-fg-heading);
        font-weight: nb-theme(font-weight-bold);
        font-size: 1.25rem;
      }
      i {
        font-size: 2.5rem;
        line-height: 2.5rem;
      }
      .temperature {
        color: nb-theme(color-fg-heading);
        font-family: nb-theme(font-secondary);
        font-weight: nb-theme(font-weight-bold);
        font-size: 1.25rem;
      }
    }
  }
  @include media-breakpoint-down(xs) {
    nb-card-body {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}