<nb-card size="medium" class="headings-card" [nbSpinner]="loading" nbSpinnerStatus="warning" nbSpinnerSize="xlarge" nbSpinnerMessage="">
    <nb-card-body>
        <div *ngFor="let weatherData of weatherForecastData">
            <div *ngIf="( weatherData.data | date: 'M/d/yy' ) == ( currentDate | date: 'M/d/yy' ) ">
                <div class="location">                    
                    <div class="dropdown ghost-dropdown" ngbDropdown>
                        <button type="button" ngbDropdownToggle class="btn" [ngClass]="'btn-primary'">
                          {{ selectedLocation?.locationName }}
                        </button>
                        <ul class="dropdown-menu" ngbDropdownMenu>
                          <li class="dropdown-item" *ngFor="let location of locations" (click)="changeLocation(location)">{{ location.locationName }}</li>
                        </ul>
                      </div>                      
                </div>
                <div class="date">
                    <span>{{ weatherData.data | date: 'fullDate' }}</span>
                </div>
                <div class="daily-forecast">
                    <div class="info">
                        <div class="temperature">
                            <span>{{ weatherData.tempMax | number: '1.0-0' }}&deg;</span>
                        </div>
                        <div class="icon">
                            <!-- <i class="ion-ios-sunny-outline"></i> -->
                            <div class="icon icon-lg i-{{ weatherData.iconNb }}" nbPopover="{{ weatherData.hintText }}" nbPopoverMode="hint"></div>
                        </div>
                    </div>
                    <div class="details">
                        <div class="parameter">
                            <span class="parameter-name">{{'max' | translate}}</span>
                            <span class="parameter-value">{{ weatherData.tempMax | number: '1.0-0'}}&deg;</span>
                        </div>
                        <div class="parameter">
                            <span class="parameter-name">min</span>
                            <span class="parameter-value">{{ weatherData.tempMin | number: '1.0-0'}}&deg;</span>
                        </div>
                        <div class="parameter">
                            <span class="parameter-name">{{'wind' | translate}}</span>
                            <span class="parameter-value">{{ weatherData.wind }} km/h</span>
                        </div>
                        <div class="parameter">
                            <span class="parameter-name">{{'rain' | translate}}</span>
                            <span class="parameter-value">{{ weatherData.rainProbability }} %</span>
                        </div>
                        <div class="parameter">
                            <span class="parameter-name">{{'snow' | translate}}</span>
                            <span class="parameter-value">{{ weatherData.snowProbability }} %</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="weekly-forecast">
            <div class="day" *ngFor="let weatherData of weatherForecastData">
                <span class="caption">{{ weatherData.data | date:'EEE' }}</span>
                <!-- <i class="ion-ios-cloudy-outline"></i> -->
                <div 
                    nbPopover="{{ weatherData.hintText }}. Ploaie: {{ weatherData.rainProbability }}%. Ninsoare: {{ weatherData.snowProbability }}%"
                    nbPopoverMode="hint" 
                    class="icon icon-s i-{{ weatherData.iconNb }}"></div>
                <span class="temperature">{{ weatherData.tempMax | number: '1.0-0' }}&deg;</span>
            </div>
        </div>
    </nb-card-body>
</nb-card>