<div class="modal-header">
  <h3 class="dots-project-title">{{ project.title }}</h3>
  <button
    class="close"
    aria-label="Close"
    (click)="closeModal()">
    <span aria-hidden="true">×</span>
  </button>
</div>
<div
  class="modal-body"
  [nbSpinner]="loading"
  nbSpinnerStatus="warning"
  nbSpinnerSize="xlarge"
  nbSpinnerMessage>
  <div class="row">
    <div class="col-sm-3">
      <img
        [src]="project.image"
        class="user-iw">
    </div>
    <div class="col-sm-9">
      <div class="row">
        <div class="col-sm-4">
          <b>{{ 'projectMembers' | translate }}</b>
        </div>
        <div class="col-sm-8">
          <ul
            *ngIf="projectUsersNameList != ''"
            class="list-inline card-teamText-iw">
            {{ projectUsersNameList }}
          </ul>
          <ul
            *ngIf="projectUsersNameList == ''"
            class="list-inline card-teamText-iw">
            <li class="list-inline-item">{{ 'noMembers' | translate }}</li>
          </ul>
        </div>
        <div class="col-sm-4">
          <b>{{ 'startDate' | translate }}</b>
        </div>
        <div class="col-sm-8">
          <ul class="list-inline card-teamText-iw">
            <li class="list-inline-item">{{ project.startDate | date: 'dd.MM.yy' }}</li>
          </ul>
        </div>
        <div class="col-sm-4">
          <b>{{ 'category' | translate }}</b>
        </div>
        <div
          *ngIf="projectCategory != null"
          class="col-sm-8">
          <ul class="list-inline card-teamText-iw">{{ projectCategory.name }}</ul>
        </div>
        <div
          *ngIf="projectCategory == null"
          class="col-sm-8">
          <ul class="list-inline card-teamText-iw">{{ 'noCategory' | translate }}</ul>
        </div>
        <div class="col-sm-12">
          <h6>{{ 'details' | translate }}</h6>
          <hr>
          <p
            class="project-details-text"
            *ngIf="project.details"
            [innerHTML]="project.details | safeHtml"></p>
          <p *ngIf="!project.details">{{ 'noDetails' | translate }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button
    nbButton
    type="button"
    shape="rectangle"
    size="medium"
    status="info"
    outline
    (click)="closeModal()">
    {{'close' | translate}}
  </button>
</div>
