.user-iw {
  width: 100%
}

.project-details-text {
  padding-left: 3%;
  word-break: break-word;
}

.dots-project-title {
  display: block;
  white-space: nowrap;
  max-width: 29em;
  overflow: hidden;
  text-overflow: ellipsis;
}