<div class="row">

    <div class="col-sm-3">
        <nb-card [routerLink]="['/admin/employees']" [nbSpinner]="loading" nbSpinnerStatus="warning" nbSpinnerSize="large"
            nbSpinnerMessage="">
            <div class="icon-container">
                <div class="icon primary">
                    <i class="fas fa-users"></i>
                </div>
            </div>
            <div class="details">
                <div class="title">{{ 'employees' | translate }}</div>
                <div class="status">{{ model?.users }}</div>
            </div>
            <div class="back-arrow">
                <i class="control-icon ion-chevron-right"></i>
            </div>
        </nb-card>
    </div>

    <div class="col-sm-3">
        <nb-card [routerLink]="['/admin/projects']" [nbSpinner]="loading" nbSpinnerStatus="warning" nbSpinnerSize="large"
            nbSpinnerMessage="">
            <div class="icon-container">
                <div class="icon success">
                    <i class="fas fa-file-powerpoint"></i>
                </div>
            </div>
            <div class="details">
                <div class="title">{{ 'projects' | translate }}</div>
                <div class="status">{{ model?.projects }}</div>
            </div>
            <div class="back-arrow">
                <i class="control-icon ion-chevron-right"></i>
            </div>
        </nb-card>
    </div>

    <div class="col-sm-3">
        <nb-card [routerLink]="['/admin/teams']" [nbSpinner]="loading" nbSpinnerStatus="warning" nbSpinnerSize="large"
            nbSpinnerMessage="">
            <div class="icon-container">
                <div class="icon warning">
                    <i class="fas fa-people-carry"></i>
                </div>
            </div>
            <div class="details">
                <div class="title">{{ 'teams' | translate }}</div>
                <div class="status">{{ model?.teams }}</div>
            </div>
            <div class="back-arrow">
                <i class="control-icon ion-chevron-right"></i>
            </div>
        </nb-card>
    </div>

    <div class="col-sm-3">
        <nb-card [routerLink]="['/admin/departments']" [nbSpinner]="loading" nbSpinnerStatus="warning" nbSpinnerSize="large"
            nbSpinnerMessage="">
            <div class="icon-container">
                <div class="icon info">
                    <i class="fas fa-building"></i>
                </div>
            </div>
            <div class="details">
                <div class="title">{{ 'departments' | translate }}</div>
                <div class="status">{{ model?.departments }}</div>
            </div>
            <div class="back-arrow">
                <i class="control-icon ion-chevron-right"></i>
            </div>
        </nb-card>
    </div>

    <div class="col-sm-3">
        <nb-card [routerLink]="['/admin/news']" [nbSpinner]="loading" nbSpinnerStatus="warning" nbSpinnerSize="large"
            nbSpinnerMessage="">
            <div class="icon-container">
                <div class="icon danger">
                    <i class="fas fa-newspaper"></i>
                </div>
            </div>
            <div class="details">
                <div class="title">{{ 'news' | translate }}</div>
                <div class="status">{{ model?.news }}</div>
            </div>
            <div class="back-arrow">
                <i class="control-icon ion-chevron-right"></i>
            </div>
        </nb-card>
    </div>

    <div class="col-sm-3">
        <nb-card [routerLink]="['/admin/newsletter']" [nbSpinner]="loading" nbSpinnerStatus="warning" nbSpinnerSize="large"
            nbSpinnerMessage="">
            <div class="icon-container">
                <div class="icon info">
                    <i class="fas fa-envelope"></i>
                </div>
            </div>
            <div class="details">
                <div class="title">{{ 'newsletters' | translate }}</div>
                <div class="status">{{ model?.newsletters }}</div>
            </div>
            <div class="back-arrow">
                <i class="control-icon ion-chevron-right"></i>
            </div>
        </nb-card>
    </div>

    <div class="col-sm-3">
        <nb-card [routerLink]="['/admin/documents']" [nbSpinner]="loading" nbSpinnerStatus="warning" nbSpinnerSize="large"
            nbSpinnerMessage="">
            <div class="icon-container">
                <div class="icon primary">
                    <i class="fas fa-file"></i>
                </div>
            </div>
            <div class="details">
                <div class="title">{{ 'documents' | translate }}</div>
                <div class="status">{{ model?.documents }}</div>
            </div>
            <div class="back-arrow">
                <i class="control-icon ion-chevron-right"></i>
            </div>
        </nb-card>
    </div>

    <div class="col-sm-3">
        <nb-card [routerLink]="['/admin/contacts']" [nbSpinner]="loading" nbSpinnerStatus="warning" nbSpinnerSize="large"
            nbSpinnerMessage="">
            <div class="icon-container">
                <div class="icon success">
                    <i class="fas fa-calendar-alt"></i>
                </div>
            </div>
            <div class="details">
                <div class="title">{{ 'contacts' | translate }}</div>
                <div class="status">{{ model?.contacts }}</div>
            </div>
            <div class="back-arrow">
                <i class="control-icon ion-chevron-right"></i>
            </div>
        </nb-card>
    </div>
</div>
