<div *ngIf="mode===modeDelete">
    <div class="modal-header">
        <h3>{{ 'delete' | translate }}</h3>
        <button class="close" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <nb-card class="headings-card">
            <nb-card-body size="medium">
                <h5>{{ 'deleteNewsInterogation' | translate }}</h5>
                <h3>{{ news?.title }}</h3>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="modal-footer">
        <button nbButton type="submit" shape="rectangle" size="medium" status="danger" (click)="delete($event)">
            {{ 'delete' | translate }}
        </button>
        <button nbButton type="button" shape="rectangle" size="medium" status="info" outline (click)="closeModal()">
            {{ 'cancel' | translate }}
        </button>
    </div>
</div>

<div *ngIf="mode!==modeDelete">
    <form [formGroup]="form" autocomplete="off" novalidate>
        <div class="modal-header">            
            <h3>{{ (isUpdate ? 'edit' : 'add') | translate }}</h3>
            <button class="close" aria-label="Close" (click)="closeModal()">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <nb-card size="large" class="headings-card">
                <nb-card-body>
                    <input type="hidden" name="id" formControlName="id" autocomplete="off">
                    <div class="form-content">
                        <div class="form-group">
                            <!-- input-group-lg -->
                            <label for="newtitle">{{ 'name' | translate }}</label>
                            <input id="newtitle" type="text" name="title" formControlName="title" class="form-control"
                                pattern="^(?! )[A-Za-zâ-țÂ-Ț0-9!-´ ]*(\S)$" maxlength="150" placeholder="{{ 'name' | translate }}"
                                autocomplete="off" [ngClass]="{ 'is-invalid': submitted && f.title.errors }" required>
                            <div *ngIf="submitted && f.title.errors" class="error-feedback">
                                <div *ngIf="f.title.errors.required">{{ 'requiredNewsName' | translate }}</div>
                                <div *ngIf="f.title.errors.minlength">{{ 'requiredLongText' | translate }}</div>
                                <div *ngIf="f.title.errors.pattern">{{ 'whiteSpaceWarning' | translate }}</div>
                            </div>
                        </div>
                        <div class="form-group form-row ui-fluid">
                            <div class="col-sm-6">
                                <label for="newsSubcategoryName">{{ 'newsSubcategory' | translate }}</label>
                                <ng-select #newsSubcategorySelect [items]="newsSubcategories" formControlName="newsSubcategoryId"
                                    bindValue="id" bindLabel="name" placeholder="{{ 'newsSelectSubcategory' | translate }}"
                                    clearAllText="{{ 'clear' | translate }}" appendTo="body" [multiple]="false"
                                    [searchable]="true" [closeOnSelect]="true" [(ngModel)]="selectedNewsSubcategoryId"
                                    [hideSelected]="true">
                                </ng-select>
                                <div *ngIf="submitted && f.newsSubcategoryId.errors" class="error-feedback">
                                    <div *ngIf="submitted && f.newsSubcategoryId.errors.required">{{
                                        'requiredSubcategory'
                                        | translate }}</div>
                                </div>
                            </div>
                            <div class="col-sm-6 text-left">
                                <label for="date">{{ 'date' | translate }}</label>
                                <p-calendar inputId="date" formControlName="date" dateFormat="dd.mm.yy" showButtonBar="true"
                                    [showIcon]="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030">
                                </p-calendar>
                                <div *ngIf="submitted && f.date.errors" class="error-feedback">
                                    <div *ngIf="f.date.errors.required">{{ 'requiredDate' | translate }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="newsBody">Text</label>
                            <p-editor [(ngModel)]="news.body" formControlName="body" [style]="{'height':'200px'}"></p-editor>
                            <div *ngIf="submitted && f.body.errors" class="error-feedback">
                                <div *ngIf="f.body.errors.required">{{ 'requiredText' | translate }}</div>
                                <div *ngIf="f.body.errors.maxlength">
                                    {{ 'longTextWarning' | translate }} Max: {{ f.body.errors.maxlength.requiredLength
                                    }}
                                </div>
                            </div>
                        </div>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
        <div class="modal-footer">
            <div class="form-row col-12">
                <div class="col-6 text-left">
                    <nb-checkbox formControlName="enabled" status="success" [value]="news.enabled">
                        <p>{{'enabled' | translate}}</p>
                    </nb-checkbox>
                    <nb-checkbox formControlName="showInDashboard" status="success" [value]="news.showInDashboard">
                        <span class="customised-control-description">{{'showInDashboard' | translate}}</span>
                    </nb-checkbox>
                </div>
                <div class="col-6 text-right">
                    <button nbButton type="submit" shape="rectangle" size="medium" status="primary" (click)="saveForm($event)"
                        class="margin-right-10">
                        {{'save' | translate}}
                    </button>
                    <button nbButton type="button" shape="rectangle" size="medium" status="info" outline (click)="closeModal()">
                        {{'cancel' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
