<div *ngIf="mode===modeDelete">
    <div class="modal-header">
        <h3>{{ 'delete' | translate }}</h3>
        <button class="close" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <nb-card class="headings-card">
            <nb-card-body size="x-small">
                <h5>{{ 'deleteProjectInterogation' | translate }}</h5>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="modal-footer">
        <button nbButton type="submit" shape="rectangle" size="medium" status="danger" (click)="delete($event)">
            {{ 'delete' | translate }}
        </button>
        <button nbButton type="button" shape="rectangle" size="medium" status="info" outline (click)="closeModal()">
            {{ 'cancel' | translate }}
        </button>
    </div>
</div>

<div *ngIf="mode!==modeDelete">
    <form [formGroup]="form" autocomplete="off" novalidate>
        <div class="modal-header">            
            <h3>{{ (isUpdate ? 'edit' : 'add') | translate }}</h3>
            <button class="close" aria-label="Close" (click)="closeModal()">
                <span aria-hidden="true">×</span>
            </button>
        </div>

        <div class="modal-body">

            <nb-card size="medium" class="headings-card">
                <nb-card-body>

                    <input type="hidden" name="id" formControlName="id" autocomplete="off">
                    <div class="form-content">
                        <div class="form-group">                            
                            <label for="title">{{ 'projectName' | translate }}</label>
                            <input id="title" 
                                type="text" 
                                name="title" 
                                formControlName="title" 
                                pattern="^(?! )[A-Za-zâ-țÂ-Ț0-9!-´ ]*(\S)$"
                                class="form-control" 
                                required 
                                placeholder="{{ 'projectName' | translate }}" 
                                [ngClass]="{ 'is-invalid': submitted && f.title.errors }"
                                autocomplete="off" 
                                maxlength="150">
                            <div *ngIf="submitted && f.title.errors" class="error-feedback">
                                <div *ngIf="f.title.errors.required">{{ 'requiredName' | translate }}</div>
                                <div *ngIf="f.title.errors.pattern">{{ 'whiteSpaceWarning' | translate }}</div>
                            </div>
                        </div>

                        <div class="form-group form-row ui-fluid">

                            <div class="col-sm-6">
                                <label for="startDate">{{ 'startDate' | translate }}</label>
                                <p-calendar inputId="startDate" 
                                    formControlName="startDate" 
                                    dateFormat="dd.mm.yy"
                                    showButtonBar="true" 
                                    [showIcon]="true" 
                                    [monthNavigator]="true" 
                                    [yearNavigator]="true"
                                    yearRange="2000:2030">
                                </p-calendar>
                                <div *ngIf="submitted && f.startDate.errors" class="error-feedback">
                                    <div *ngIf="f.startDate.errors.required">{{ 'requiredDate' | translate }}</div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <label for="endDate">{{ 'endDate' | translate }}</label>
                                <p-calendar inputId="endDate" 
                                    formControlName="endDate" 
                                    dateFormat="dd.mm.yy"
                                    showButtonBar="true" 
                                    [showIcon]="true" 
                                    [monthNavigator]="true" 
                                    [yearNavigator]="true"
                                    yearRange="2000:2030">
                                </p-calendar>
                                <div *ngIf="submitted && f.endDate.errors" class="error-feedback">
                                    <div *ngIf="f.endDate.errors.required">{{ 'requiredDate' | translate }}</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="projectCategoryName">{{ 'projectCategory' | translate }}</label>
                            <ng-select #projectCategorySelect 
                                [items]="projectCategories" 
                                formControlName="projectCategoryId"
                                bindValue="id" 
                                bindLabel="name" 
                                placeholder="{{ 'projectCategorySelect' | translate }}"
                                clearAllText="{{ 'clear' | translate }}" 
                                appendTo="body" 
                                [multiple]="false"
                                [searchable]="true" 
                                [closeOnSelect]="true" 
                                [(ngModel)]="selectedProjectCategoryId"
                                [hideSelected]="true">
                            </ng-select>
                            <div *ngIf="submitted && f.projectCategoryId.errors" class="error-feedback">
                                <div *ngIf="submitted && f.projectCategoryId.errors.required">
                                  {{ 'requiredCategory' | translate }}
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="projectUsersName">{{ 'projectMembers' | translate }}</label>
                            <ng-select *ngIf="isUpdate" #projectMembersSelect 
                                [items]="users" 
                                formControlName="usersLink"
                                bindValue="id" 
                                bindLabel="fullName" 
                                placeholder="{{ 'employeeSelect' | translate }}"
                                clearAllText="{{ 'clear' | translate }}" 
                                appendTo="body" 
                                [multiple]="true" 
                                [searchable]="true"
                                [closeOnSelect]="false" 
                                [(ngModel)]="selectedUsersIds" 
                                [hideSelected]="true">
                            </ng-select>
                            <div *ngIf="!isUpdate" class="alert alert-warning" role="alert">
                                <strong>Hey you! {{ 'employeeError' | translate }}</strong>
                            </div>
                        </div>
                        <div class="form-group">
                            <!-- input-group-lg -->
                            <label for="details">{{ 'details' | translate }}</label>
                            <p-editor id="details" 
                                [(ngModel)]="project.details" 
                                formControlName="details" 
                                [style]="{'height':'200px'}">
                            </p-editor>
                            <div *ngIf="submitted && f.details.errors" class="error-feedback">
                                <div *ngIf="f.details.errors.required">{{ 'requiredText' | translate }}</div>
                                <div *ngIf="f.details.errors.maxlength">
                                    {{ 'longTextWarning' | translate }} Max: {{
                                    f.details.errors.maxlength.requiredLength
                                    }}
                                </div>
                            </div>
                        </div>

                        <h5>Picture / Logo</h5>
                        <iw-file-upload 
                            [allowedExtensions]="['image/jpeg','image/png','image/gif']" 
                            ownerType="project"
                            [fileInfo]="pictureUpload" 
                            (onFileUploadComplete)="fileUploadCompleted($event)">
                        </iw-file-upload>

                        <!-- <h5>Attach documents</h5>
                        <iw-file-upload 
                            [allowedExtensions]="['image/jpeg','image/png','image/gif']" 
                            ownerType="document"
                            [fileInfo]="documentsUpload" 
                            (onFileUploadComplete)="fileUploadCompleted($event)">
                        </iw-file-upload> -->

                        <!-- <small class="form-text">{{ fileUploads.length }}</small> -->

                    </div>
                </nb-card-body>
            </nb-card>

        </div>

        <div class="modal-footer">
            <div class="form-row col-12">
                <div class="col-6 text-left">
                    <nb-checkbox formControlName="enabled" status="success" [value]="project.enabled">
                        <p>{{'enabled' | translate}}</p>
                    </nb-checkbox>
                </div>
                <div class="col-6 text-right">
                    <button nbButton type="submit" shape="rectangle" size="medium" status="primary" (click)="saveForm($event)"
                        class="margin-right-10">
                        {{ 'save' | translate }}
                    </button>
                    <button nbButton type="button" shape="rectangle" size="medium" status="info" outline (click)="closeModal()">
                        {{ 'cancel' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
