.margin-right-10 {
  margin-right: 10px;
}

// ::ng-deep .ng2-file-input .ng2-file-input-drop-container {
//   min-height: 115px;
//   border: 2px dashed #cecece;
//   padding: 40px 5px;
//   width: 490px;
//   display: inline-block;
// }

::ng-deep .ng2-file-input .ng2-file-input-files {
  margin-top: 0;
  width: 200px;
  display: inline-block;
  margin-left: 15px;
}

// ::ng-deep .ng2-file-input .ng2-file-input-drop-container button {
//   margin-left: 0;
// }

::ng-deep .ng2-file-input .ng2-file-input-files .ng2-file-input-file .ng2-file-input-file-text {
  max-width: 190px;
  height: 110px;
  font-size: 14px;
}

.error-feedback {
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}

::ng-deep ng-select.ng-invalid.ng-touched .ng-select-container {
  border-color: #dc3545;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px #fde6e8;
}