<div *ngIf="mode===modeDelete">
    <div class="modal-header">
        <h3>{{ 'delete' | translate }}</h3>
        <button class="close" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <nb-card class="headings-card">
            <nb-card-body size="medium">
                <h5>{{ 'deleteNewsletterInterogation' | translate }}</h5>
                <h3>{{ newsletter?.title }}</h3>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="modal-footer">
        <button nbButton type="submit" shape="rectangle" size="medium" status="danger" (click)="delete($event)">
            {{ 'delete' | translate }}
        </button>
        <button nbButton type="button" shape="rectangle" size="medium" status="info" outline (click)="closeModal()">
            {{ 'cancel' | translate }}
        </button>
    </div>
</div>

<div *ngIf="mode!==modeDelete">
    <form [formGroup]="form" autocomplete="off" novalidate>
        <div class="modal-header">
            <h3>{{ (isUpdate ? 'edit' : 'add') | translate }}</h3>
            <button class="close" aria-label="Close" (click)="closeModal()">
                <span aria-hidden="true">×</span>
            </button>
        </div>

        <div class="modal-body">

            <nb-card size="small" class="headings-card">
                <nb-card-body>

                    <input type="hidden" name="id" formControlName="id" autocomplete="off">
                    <div class="form-content">

                        <div class="form-group form-row ui-fluid">
                            <div class="col-sm-6">
                                <label for="title">{{'title' | translate}}</label>
                                <input id="title" type="text" name="title" formControlName="title" class="form-control"
                                    required placeholder="Titlu newsletter" onfocus="this.placeholder=''" onblur="this.placeholder = 'Titlu newsletter'"
                                    autocomplete="off">
                                <small class="form-text">Exemplu: Nr. 1 : Mai 2018</small>
                            </div>
                            <div class="col-sm-6 text-left">
                                <label for="date">{{'date' | translate}}</label>
                                <p-calendar inputId="date" formControlName="date" dateFormat="dd.mm.yy" showButtonBar="true"
                                    [showIcon]="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030">
                                </p-calendar>
                            </div>
                        </div>

                        <iw-file-upload [allowedExtensions]="['application/pdf']" ownerType="newsletter" [fileInfo]="fileUploads"
                            (onFileUploadComplete)="fileUploadCompleted($event)">
                        </iw-file-upload>
                        <!-- <small class="form-text">*Only pdf files allowed</small> -->

                    </div>

                </nb-card-body>
            </nb-card>

        </div>

        <div class="modal-footer">
            <div class="form-row col-12">

                <div class="col-6 text-left">
                    <nb-checkbox formControlName="enabled" status="success" [value]="newsletter.enabled">
                        <h5>{{'enabled' | translate}}</h5>
                    </nb-checkbox>
                </div>

                <div class="col-6 text-right">
                    <button nbButton type="submit" shape="rectangle" size="medium" status="primary" (click)="saveForm($event)"
                        class="margin-right-10">
                        {{'save' | translate}}
                    </button>
                    <button nbButton type="button" shape="rectangle" size="medium" status="info" outline (click)="closeModal()">
                        {{'cancel' | translate}}
                    </button>
                </div>
            </div>

        </div>
    </form>
</div>
