.margin-right-10 {
  margin-right: 10px;
}

// ::ng-deep .ng2-file-input .ng2-file-input-drop-container {
//   min-height: 115px;
//   border: 2px dashed #cecece;
//   padding: 40px 5px;
//   width: 490px;
//   display: inline-block;
// }

::ng-deep .ng2-file-input .ng2-file-input-files {
  margin-top: 0;
  width: 200px;
  display: inline-block;
  margin-left: 15px;
}

// ::ng-deep .ng2-file-input .ng2-file-input-drop-container button {
//   margin-left: 0;
// }

::ng-deep .ng2-file-input .ng2-file-input-files .ng2-file-input-file .ng2-file-input-file-text {
  max-width: 190px;
  height: 110px;
  font-size: 14px;
}