<app-admin-status-card
  [model]="model"
  [loading]="loading"></app-admin-status-card>
<div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Team no.</nb-card-header>
      <nb-card-body>
        <app-admin-dashboard-employee-chart [model]="model"></app-admin-dashboard-employee-chart>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Employee no.</nb-card-header>
      <nb-card-body>
        <app-admin-dashboard-team-chart [model]="model"></app-admin-dashboard-team-chart>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>Projects</nb-card-header>
      <nb-card-body>
        <app-admin-dashboard-project-chart [model]="model"></app-admin-dashboard-project-chart>
      </nb-card-body>
    </nb-card>
  </div>
</div>
