::ng-deep .cdk-overlay-container {
  z-index: 1080 !important;
}

:host /deep/ ng2-smart-table tbody tr td div {
  white-space: nowrap;
  max-width: 33em;
  overflow: hidden;
  text-overflow: ellipsis;
}